<h2><?php echo 'Edycja zadania dla numeru '.$this->user['phone']; ?></h2>
<h3>Data dodania : <?php echo $this->job['added'] ?>. Data aktualizacji : <?php echo $this->job['updated'] ?></h3>
    <?php echo $this->data->form; ?>