
<p class="add">
<a href="<?php echo $this->url(array('module' => 'admin' , 
                                     'controller' => 'job' , 
                                     'action' => 'add'), null, true); ?>">Dodaj nowe zadanie</a>
</p>


<h1>Zadania na <?php echo $this->data->date; ?></h1>
<form method="GET"><div><input type="text" name="ndate" value="<?php echo $this->data->date; ?>" id="ndate" /><input type="submit" id="submit" value="Zmień datę"/></div></form>
    <?php echo $this->data->daily; ?>
<br  /><br  />
<h1>Wszystkie zadania</h1>
<?php echo $this->data->full; ?>