<div class="breadcrumb">

    <a href="/">Strona główna</a>
    <a href="#">Dom</a>
    <a href="#">Wynajem</a>
    <a href="#"><?php echo $this->data['title']; ?></a>

</div>

<span class="product_title"><?php echo $this->data['title']; ?></span>
<?php echo $this->partial('_partial/offer/tabs.phtml', array('data' => $this->data)); ?>
<div class="product_desc">
    <?php echo $this->partial('_partial/offer/price.phtml', array('data' => $this->data, 'type' => 'rent')); ?>

    <?php if (!empty($this->data['id']) && !in_array('id', $this->blocked)): ?>
        <span class="list_text">Nr. oferty: <b><?php echo $this->data['id']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['rooms']) && !in_array('rooms', $this->blocked)): ?>
        <span class="list_text">Liczba pokoi: <b><?php echo $this->data['rooms']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['quality']) && !in_array('quality', $this->blocked)): ?>
        <span class="list_text">Stan domu: <b><?php echo Model_Logic_Enum::getInstance()->getQualityById($this->data['quality']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['district']) && !in_array('district', $this->blocked)): ?>
        <span class="list_text">Powiat: <b><?php echo $this->data['district']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['building_type']) && !in_array('building_type', $this->blocked)): ?>
        <span class="list_text">Typ budynku: <b><?php echo Model_Logic_Enum::getInstance()->getHouseTypeById($this->data['building_type']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['heat']) && !in_array('heat', $this->blocked)): ?>
        <span class="list_text">Ogrzewanie: <b><?php echo Model_Logic_Enum::getInstance()->getHouseHeatById($this->data['heat']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['city']) && !in_array('city', $this->blocked)): ?>
        <span class="list_text">Miasto: <b><?php echo $this->data['city']; ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['building_material']) && !in_array('building_material', $this->blocked)): ?>
        <span class="list_text">Materiał: <b><?php echo Model_Logic_Enum::getInstance()->getHouseMaterialTypeById($this->data['building_material']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['sewerage']) && !in_array('sewerage', $this->blocked)): ?>
        <span class="list_text">Kanalizacja: <b><?php echo Model_Logic_Enum::getInstance()->getSewerageById($this->data['sewerage']); ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['section']) && !in_array('section', $this->blocked)): ?>
        <span class="list_text">Dzielnica: <b><?php echo $this->data['section']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['basement']) && !in_array('basement', $this->blocked)): ?>
        <span class="list_text">Podpiwniczenie: <b><?php echo Model_Logic_Enum::getInstance()->getbasementById($this->data['basement']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['garage']) && !in_array('garage', $this->blocked)): ?>
        <span class="list_text">Garaż: <b><?php echo Model_Logic_Enum::getInstance()->getGarageById($this->data['garage']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['street']) && !in_array('street', $this->blocked)): ?>
        <span class="list_text">Ulica: <b><?php echo $this->data['street']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['attic']) && !in_array('attic', $this->blocked)): ?>
        <span class="list_text">Poddasze: <b><?php echo Model_Logic_Enum::getInstance()->getAtticById($this->data['attic']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['year']) && !in_array('year', $this->blocked)): ?>
        <span class="list_text">Rok budowy: <b><?php echo $this->data['year']; ?></b></span>
    <?php else : ?>
        <span class="list_text">&nbsp;</span>
        <?php endif; ?>
 <?php if (!empty($this->data['terrain_surface']) && !in_array('terrain_surface', $this->blocked)): ?>
        <span class="list_text">Powierzchnia działki: <b><?php echo $this->data['terrain_surface']; ?>m<sup>2</sup></b></span>
    <?php endif; ?>
    

    <?php if (!empty($this->data['roof']) && !in_array('roof', $this->blocked)): ?>
        <span class="list_text">Dach: <b><?php echo Model_Logic_Enum::getInstance()->getRoofById($this->data['roof']); ?></b></span>
    <?php endif; ?>

        <?php if (!empty($this->data['surface']) && !in_array('surface', $this->blocked)): ?>
        <span class="list_text">Powierzchnia domu: <b><?php echo $this->data['surface']; ?>m<sup>2</sup></b></span>
    <?php endif; ?>
        
   <?php if (!empty($this->data['house_surface']) && $this->data['house_surface'] != '0.00'  && !in_array('house_surface', $this->blocked)): ?>
        <span class="list_text">Powierzchnia zabudowy: <b><?php echo $this->data['house_surface']; ?>m<sup>2</sup></b></span>
            <?php else : ?>
        <span class="list_text">&nbsp;</span>
    <?php endif; ?>

    


    <?php if (!empty($this->data['roof_type']) && !in_array('roof_type', $this->blocked)): ?>
        <span class="list_text">Pokrycie dachu: <b><?php echo Model_Logic_Enum::getInstance()->getRoofTypeById($this->data['roof_type']); ?></b></span>
    <?php endif; ?>



    <?php echo $this->partial('_partial/offer/middle.phtml', array('data' => $this->data)); ?>

    <h4 class="page_title">Dodatkowe informacje</h4>

    <div class="article_content">





        <?php if (!empty($this->data['fence']) && !in_array('fence', $this->blocked)): ?> 
            <b>Ogrodzenie:</b> <?php echo Model_Logic_Enum::getInstance()->getFenceById($this->data['fence']); ?>, 
        <?php endif; ?>

        <?php if (!empty($this->data['access']) && !in_array('access', $this->blocked)): ?> 
            <b>Dojazd:</b> <?php echo Model_Logic_Enum::getInstance()->getAccessById($this->data['access']); ?>, 
        <?php endif; ?>

        <?php if (!empty($this->data['windows']) && !in_array('windows', $this->blocked)): ?> 
            <b>Okna:</b> <?php echo Model_Logic_Enum::getInstance()->getWindowById($this->data['windows']); ?>, 
        <?php endif; ?>

        <?php if (!empty($this->data['additional']) && !in_array('additional', $this->blocked)): ?> 
            <?php $aAdditionals = Model_Logic_Enum::getInstance()->getHouseAdditionalRentByGroupOfId(explode(',', $this->data['additional'])); ?>
            <b>Dodatkowe:</b> <?php echo implode(', ', $aAdditionals); ?> 
        <?php endif; ?>
    </div>

    <?php echo $this->partial('_partial/offer/seller.phtml', array('data' => $this->data)); ?>

