<?php echo $this->partial('_partial/offer/print_l_top.phtml', array('offer' => $this->offer, 'location' => sprintf('Powiat: %s, Gmina: %s, Miasto: %s', $this->offer['district'], $this->offer['community'], $this->offer['city']))); ?>

<div class="box_info">
    <?php if (isset($this->offer['surface']) && !empty($this->offer['surface'])): ?>
        Pow. domu: <b><?php echo $this->offer['surface']; ?> m<sup>2</sup></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['terrain_surface']) && !empty($this->offer['terrain_surface'])): ?>
        Pow. działki: <b><?php echo $this->offer['terrain_surface']; ?> m<sup>2</sup></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['rooms']) && !empty($this->offer['rooms'])): ?>
        Liczba pokoi: <b><?php echo $this->offer['rooms']; ?></b><br/>
    <?php endif; ?>

     <?php if (isset($this->offer['building_type']) && !empty($this->offer['building_type'])): ?>
        Typ budynku: <b><?php echo Model_Logic_Enum::getInstance()->getHouseTypeById($this->offer['building_type']); ?></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['building_material']) && !empty($this->offer['building_material'])): ?>
        Materiał : <b><?php echo Model_Logic_Enum::getInstance()->getHouseMaterialTypeById($this->offer['building_material']); ?></b><br/>
    <?php endif; ?>
                    <?php if (isset($this->offer['price_surface']) && !empty($this->offer['price_surface'])): ?>
            Cena za 1m2: <b><?php echo str_replace('.' , ',' , $this->offer['price_surface']); ?>zł</b><br/>
        <?php endif; ?>

</div>
<?php echo $this->partial('_partial/offer/print_l_bottom.phtml', array('offer' => $this->offer)); ?>
