<?php
$sUrl = $this->url(array('module' => 'admin', 'controller' => 'client', 'action' => 'edit', 'client' => $this->client['data']['id']));
$sUrlText = $this->client['data']['phone'] . ', ' . $this->client['data']['name'] . ' ' . $this->client['data']['surname'];

$sHead = sprintf('<a class="goto" href="%s">%s</a>', $sUrl, $sUrlText);
?>

<h1><img style="float: right" src="/images/user-icon.png"><?php echo $sHead; ?></h1>
<p><?php echo $this->clientType($this->client['data']['type'],
        ',');
?></p>
<table style="width: 600px">
    <tr><th>Email</th>
        <td class="clickable" ><?php echo $this->client['data']['email']; ?> </td>
    </tr>
    <tr><th>Adres</th>
        <td class="clickable" ><?php echo $this->clientAddress($this->client['data']) ?></td>
    </tr>
    <tr><th>Dowód osobisty</th>
        <td class="clickable" ><?php echo $this->client['data']['docid']; ?></td>
    </tr>
    <tr><th>Pesel</th>
        <td class="clickable" ><?php echo $this->client['data']['pesel']; ?></td>
    </tr>
    <tr><th>Informacje</th>
        <td class="clickable" ><?php echo $this->client['data']['info']; ?></td>
    </tr>
</table>

<?php if (isset($this->client['wanted'])): ?>
<h1>Poszukiwane </h1>
<table style="width: 600px">
        <tr>
            <th>Typ</th>
            <th>Cena</th>
            <th>Powierzchnia</th>
            <th>Cena za 1m&sup2;</th>
            <th></th>
        </tr>

        <?php if (!empty($this->client['wanted'])) : ?>
        <?php foreach ($this->client['wanted'] as $aWanted): ?>
        <tr>        
        <td class="clickable" ><?php echo $this->key($aWanted['id_type'],
                    Model_Logic_Enum::getInstance()->getOfferTypesList()); ?></td>
                <td class="clickable" ><?php echo printf('%s - %s PLN',
                    $aWanted['price_from'], $aWanted['price_to']); ?></td>
                <td class="clickable" ><?php printf('%s - %s m&sup2;',
                    $aWanted['surface_from'], $aWanted['surface_to']); ?></td>
                <td class="clickable" ><?php printf('%s - %s m&sup2;/PLN',
                    $aWanted['price_surface_from'], $aWanted['price_surface_to']); ?></td>
                <td class="clickable" ><a class="goto" href="<?php echo $this->url(array('module' => 'admin', 
                                                   'controller' => 'wanted' , 
                                                   'action' => 'edit', 
                                                   'offer' => $aWanted['id_wanted'])); ?>">Detale</a></td>
           </tr>     
        <?php endforeach; ?>
                
    <?php else : ?> 
           <tr>
               <td class="clickable"  colspan="5">Brak wyników</td>
           </tr>
    <?php endif; ?>
    </table>
<?php endif; ?>

<?php if (isset($this->client['jobs'])): ?>
<h1>Telefony</h1>
<table style="width: 600px">
        <tr>
            <th>Typ</th>
            <th>Lokalizacja</th>
            <th>Data dodania</th>
            <th>Data zadania</th>
            <th>Status</th>
            <th></th>
        </tr>

        <?php if (!empty($this->client['jobs'])) : ?>
        <?php foreach ($this->client['jobs'] as $aJobs): ?>
        <tr>        
        <td class="clickable" ><?php echo $this->key($aJobs['offer_type'],
                    Model_Logic_Enum::getInstance()->getOfferTypesList()); ?></td>
                <td class="clickable" ><?php echo $aJobs['location']; ?></td>
                <td class="clickable" ><?php echo $aJobs['zadanie']; ?></td>
                <td class="clickable" ><?php echo $aJobs['aktualizowane']; ?></td>
                <td class="clickable" ><?php echo $aJobs['location']; ?></td>
                <td class="clickable" ><?php echo $this->jobStatus($aJobs['status']); ?></td>
                <td class="clickable" ><a class="goto" href="<?php echo $this->url(array('module' => 'admin', 
                                                   'controller' => 'job' , 
                                                   'action' => 'edit', 
                                                   'id' => $aJobs['id'])); ?>">Detale</a></td>
           </tr>     
        <?php endforeach; ?>
                
    <?php else : ?> 
           <tr>
               <td class="clickable"  colspan="5">Brak wyników</td>
           </tr>
    <?php endif; ?>
    </table>
<?php endif; ?>

<?php if (isset($this->client['owner'])): ?>
<h1>Właściciel</h1>
<table style="width: 600px">
        <tr>
            <th></th>
            <th>Typ</th>
            <th>Lokalizacja</th>
            <th>Cena</th>
            <th>Powierzchnia</th>
            <th>Cena za 1m&sup2;</th>
            <th></th>
        </tr>

        <?php if (!empty($this->client['owner'])) : ?>

        <?php foreach ($this->client['owner'] as $aOwner): ?>
        <tr>
            <td class="clickable" ><?php echo $this->image($aOwner['id'], 
                                        $aOwner['cover'], 
                                         Model_Logic_Gallery::IMAGE_THUMB_WIDTH, 
                                         Model_Logic_Gallery::IMAGE_THUMB_HEIGHT); ?></td>
        <td class="clickable" ><?php echo $this->key($aOwner['id_type'],
                    Model_Logic_Enum::getInstance()->getOfferTypesList()); ?></td>
                <td class="clickable" ><?php echo $aOwner['location']; ?></td>
                <td class="clickable" ><?php echo $aOwner['price']; ?></td>
                <td class="clickable" ><?php echo $aOwner['surface']; ?></td>
                <td class="clickable" ><?php echo $aOwner['price_surface']; ?></td>
                <td class="clickable" ><a class="goto" href="<?php echo $this->url(array('module' => 'admin', 
                                                   'controller' => 'offer' , 
                                                   'action' => 'edit', 
                                                   'id' => $aOwner['id'])); ?>">Detale</a></td>
           </tr>     
        <?php endforeach; ?>
                
    <?php else : ?> 
           <tr>
               <td class="clickable"  colspan="5">Brak wyników</td>
           </tr>
    <?php endif; ?>
    </table>
<?php endif; ?>

<?php if (isset($this->client['visiter'])): ?>
<h1>Prezentacje</h1>
<table style="width: 600px">
        <tr>
            <th></th>
            <th>Lokalizacja</th>
            <th>Data</th>
            <th>Status</th>
            <th>Info</th>
            <th></th>
        </tr>

        <?php if (!empty($this->client['visiter'])) : ?>
        <?php foreach ($this->client['visiter'] as $aVisiter): ?>
        <tr>
            <td class="clickable" ><?php echo $this->image($aVisiter['id_offer'], 
                                        $aVisiter['photo'],
                                         Model_Logic_Gallery::IMAGE_THUMB_WIDTH, 
                                         Model_Logic_Gallery::IMAGE_THUMB_HEIGHT); ?></td>
                <td class="clickable" ><?php echo $aVisiter['local']; ?></td>
                <td class="clickable" ><?php echo $aVisiter['event']; ?></td>
                <td class="clickable" ><?php echo $this->key($aVisiter['status'], Model_Logic_Enum::getInstance()->getPresentationStatusList()); ?></td>
                <td class="clickable" ><?php echo $aVisiter['info']; ?></td>
                <td class="clickable" ><a class="goto" href="<?php echo $this->url(array('module' => 'admin', 
                                                   'controller' => 'presentation' , 
                                                   'action' => 'edit', 
                                                   'presentation' => $aVisiter['id'])); ?>">Detale</a></td>
           </tr>     
        <?php endforeach; ?>
                
    <?php else : ?> 
           <tr>
               <td class="clickable"  colspan="5">Brak wyników</td>
           </tr>
    <?php endif; ?>
    </table>
<?php endif; ?>