<ul id="clients-quick">
     <?php if(count($this->clients) > 0): ?>
<?php foreach ($this->clients as $aClient): ?>
    <li class="quick">
      <?php printf('<a class="%s" href="#" data-phone="%s" data="%s"> %s , %s %s', 
                    $this->type == 'add' ? 'addquick' : 'quickdetail', 
                             $aClient['phone'],  
                             $aClient['id'], $aClient['phone'], $aClient['surname'] , $aClient['name']); ?>
    </li>
<?php endforeach; ?>
<?php else: ?>
    <?php if($this->type == 'list'): ?>
    <li>Brak wyników dla podanego numeru</li>
        <?php elseif($this->type == 'add'): ?>
    <li class="quick">W bazie nie ma klienta o podanym numerze. Klient zostanie dodany automatycznie.</li>
    <?php endif; ?>
    <?php endif; ?>
</ul>

