<div id="nav">
    <ul>
       <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'client', 'action' => 'detail', 'id' => $this->id), null, true); ?>">Detaile</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'client', 'action' => 'edit', 'id' => $this->id), null, true); ?>">Edycja danych</a></li>
    </ul>
</div>
