<div id="nav">
    <ul>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'edit', 'id' => $this->offer['id']), 'home' , true); ?>">Edycja danych</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'map', 'id' => $this->offer['id']), 'home' , true); ?>">Mapa</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'gallery', 'id' => $this->offer['id']), 'home' , true); ?>">Galeria</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'agreement', 'action' => 'detail', 'id' => $this->offer['id']), 'home' , true); ?>">Umowa</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'export', 'action' => 'list', 'offer' => $this->offer['id']), 'home' , true); ?>">Eksport</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'detail', 'id' => $this->offer['id']), 'home' , true); ?>">Detaile</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'presentation', 'action' => 'list', 'offer' => $this->offer['id']), 'home' , true); ?>">Prezentacje</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'print', 'mode'  => 'P', 'id' => $this->offer['id']), 'home' , true); ?>">Druk pion</a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'print', 'mode'  => 'L', 'id' => $this->offer['id']), 'home' , true); ?>">Druk poziom</a></li>
    </ul>
</div>
<div style="clear: both"></div>
<div id="detailbox" data-href="<?php echo $this->url(array('module' => 'page', 'controller' => 'offer', 'action' => 'detail', 'id' => $this->offer['id']), 'detail' , true); ?>">
    <div style="float: left">
        <?php echo $this->image($this->offer['id'], $this->offer['cover'], Model_Logic_Gallery::IMAGE_THUMB_WIDTH * 3/4, Model_Logic_Gallery::IMAGE_THUMB_HEIGHT * 3/4); ?>
        </div>
    <div class="right" style="margin-left: 150px">
    <p><b>Tytuł : </b><?php echo $this->offer['title']  ?></p>
    <p><b>Lokalizacja : </b><?php echo $this->offer['city'].' '.$this->offer['street'];  ?></p>
    <p><b>Powierzchnia : </b><?php echo $this->offer['surface']  ?> m&sup2;</p>
    <p><b>Cena : </b><?php echo $this->offer['price']  ?> PLN</p>
    </div>
</div>