<?php if ($this->pageCount > 1): ?>

<?php $oView = Zend_Controller_Front::getInstance()->getParam('bootstrap')->getResource('view');  ?>
<?php $sQuery = isset($oView->data->query) ?  $oView->data->query : ''  ?>

<div class="pagination" style="text-align: center">
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
<a class="button orange" href="<?php echo $this->url(array('page' => $this->previous)).$sQuery; ?>"><span><</span></a>
<?php endif; ?>
 
<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
    

<a class="button orange<?php if($page == $this->current) echo ' active'; ?>" href="<?php echo $this->url(array('page' => $page)).$sQuery; ?>"><span><?php echo $page; ?></span></a>
  <?php endforeach; ?>
 
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a class="button orange" href="<?php echo $this->url(array('page' => $this->next)).$sQuery; ?>"><span>></span></a>  
<?php endif; ?>
</div>
<?php endif; ?>