@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700,400&subset=latin,latin-ext);
* {
   margin: 0px;
   padding: 0px; 
}
body {
    font-family: "Open Sans", "Tahoma";
}
.clear {
    clear: both;
}
.no_bg {
    background: none !important;
}
.wrapper {
    width: 1147px;
    margin: 0 auto;
    display: table;
}
a {
    text-decoration: none;
}
img {
    border: 0px;
}
.pdf_numer {
    background: #643284;
    display: table;
    width: 100%;
    height: 77px;
    font: normal 33px/77px 'Open Sans';
}
.pdf_numer p {
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 0 350px;
}
.logo {
    width: 335px;
    height: 159px;
    display: block;
    float: left;
    margin-top: -97px;
}
.pdf_tytul {
    background: #efefef;
    display: table;
    width: 100%;
    padding: 20px 0;
}
.pdf_tytul span {
    margin: 0 0 35px 20px;
    display: table;
    float: left;
}
.pdf_tytul span a {
    font: 26px 'Open Sans';
    color: #424242;
}
.pdf_tytul span a b {
    font: normal 26px 'Oswald';
    color: #643284;
}
.pdf_tytul h1 {
    color: #6f6f6f;
    font: italic 28px 'Open Sans';
    clear: both;
}
.pdf_tytul h1 b {
    color: #424242;
    font: bold 31px 'Open Sans';
}
.pdf_zdjecia {
    padding: 20px 0;
}
.pdf_zdjecia img {
    display: block;
    float: left;
    margin: 0 0 12px 10px;
    width: 371px;
    height: 276px;
}
.zdjecie-pierwsze {
    width: 66%;
    float: left;
}
.zdjecie-drugie {
    width: 34%;
    float: left;
    margin-bottom: 5px;
}
.pdf_lewa {
    float: left;
    width: 333px;
    display: table;
}
.pdf_lewa .box_info {
    color: #878787;
    font: normal 24px 'Open Sans';
    display: table;
    margin-bottom: 20px;
}
.pdf_lewa .box_info b {
    color: #424242;
    font: normal 24px 'Open Sans';
}
.pdf_lewa .box_cena {
    background: #643284;
    color: #de6a6a;
    font: normal 28px 'Oswald';
    display: table;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}
.pdf_lewa .box_cena s {
    font: normal 28px 'Oswald';
    color: #FFF;
    margin-right: 10px;
}
.pdf_lewa .box_kontakt {
    background: #643284;
    color: #FFF;
    font: normal 22px 'Open Sans';
    display: table;
    width: 263px;
    padding: 20px 35px;
}
.pdf_lewa .box_kontakt h2 {
    font: normal 36px 'Oswald';
    margin-bottom: 30px;
}
.pdf_lewa .box_kontakt .link {
    font: normal 36px 'Oswald';
    color: #FFF;
}
.pdf_prawa {
    float: right;
    width: 770px;
    display: table;
    font: normal 22px/33px 'Open Sans';
    color: #555;
    margin-bottom: 70px;
}
.pdf_prawa h2 {
    color: #424242;
    font: normal 26px 'Oswald';
}
.pdf_footer {
    width: 100%;
    display: table;
    background: #efefef;
    font: normal 24px/70px 'Oswald';
    color: #464646;
    height: 70px;
    text-align: right;
    bottom: 0px;
    position: absolute;
}

p {padding:  0px; margin: 0px}