@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700,400&subset=latin,latin-ext);
* {
   margin: 0px;
   padding: 0px; 
}
body {
    font-family: "Open Sans", "Tahoma";
}
.clear {
    clear: both;
}
.no_bg {
    background: none !important;
}
.wrapper {
    width: 1654px;
    margin: 0 auto;
    display: table;
}
a {
    text-decoration: none;
    color: #643284;
}
img {
    border: 0px;
}
.pdf_numer {
    background: #643284;
    display: table;
    width: 100%;
    height: 77px;
    font: normal 33px/77px 'Open Sans';
}
.pdf_numer p {
    font: normal 33px 'Open Sans';
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 0 520px;
    height: 77px;
    width: 100%;
    display: table;
    text-align: right;
}
.pdf_numer p b {
    margin-right: 200px;
}
.pdf_numer .link {
    float: right;
    font: normal 33px 'Open Sans';
    color: #FFF;
}  
.logo {
    width: 495px;
    height: 238px;
    display: block;
    float: left;
    margin-top: -100px;
}
.pdf_tytul {
    background: #efefef;
    display: table;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    line-height: 50px;
}
.pdf_tytul span {
    display: block;
    float: left;
    color: #6f6f6f;
    font:  28px/40px 'Open Sans';
}
.pdf_tytul span b {
    color: #424242;
    font: bold 31px/40px 'Open Sans';
    font-style: normal;
}
.pdf_zdjecia {
    float: left;
    width: 693px;
    display: table;
    margin-right: 30px;
}
.pdf_zdjecia img {
    display: block;
    float: left;
    width: 338px;
    height: 251px;
    margin: 0;
}
.pdf_zdjecia img:first-child {
    width: 693px;
    height: 514px;
    margin-bottom: 17px;
}
.pdf_zdjecia img:last-child {
    margin-left: 17px;
}
.zdjecie-drugie {
    width: 49.5%;
}
.pdf_prawa {
    float: right;
    width: 918px;
}
.pdf_prawa .box_cena {
    background: #643284;
    color: #de6a6a;
    font: normal 38px 'Oswald';
    display: table;
    width: 440px;
    padding: 20px 0;
    text-align: center;
    float: left;
}
.pdf_prawa .box_cena s {
    font: normal 38px 'Oswald';
    color: #FFF;
    margin-right: 10px;
}
.pdf_prawa .box_info {
    color: #878787;
    font: normal 24px 'Open Sans';
    display: table;
    float: left;
    margin-left: 30px;
}
.pdf_prawa .box_info b {
    color: #424242;
    font: normal 24px 'Open Sans';
}
.pdf_prawa .box_content {
    width: 100%;
    display: table;
    font: normal 22px/33px 'Open Sans';
    color: #555;
}
.pdf_prawa .box_content h2 {
    color: #424242;
    font: normal 26px 'Oswald';
}
.pdf_footer {
    width: 100%;
    display: table;
    background: #efefef;
    font: normal 32px/50px 'Oswald';
    height: 120px;
    color: #555;
    position: absolute;
    bottom: 0px;
    text-align: left;
}
.pdf_footer p {
    font: normal 27px/123px 'Oswald';
    margin-left: 30px;
}
.pdf_footer .link {
    float: right;
    font: bold 27px/123px 'Oswald';
    color: #643284;
}
.pdf_footer p span {
    color: #643284;
}
.pdf_footer p b {
    color: #9f9f9f;
}
.pdf_footer p label {
    font-weight: bold;
    cursor: text;
}

p {padding:  0px; margin: 0px}