@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700,400&subset=latin,latin-ext);
* {
   margin: 0px;
   padding: 0px; 
}
body {
    font-family: "Open Sans", "Tahoma";
    background: url("images/background.jpg") no-repeat top center;
}
.clear {
    clear: both;
}
.no_bg {
    background: none !important;
}
a {
    text-decoration: none;
    color: #643284;
}
img {
    border: 0px;
}
.wrapper {
    width: 1020px;
    margin: 0 auto;
    display: table;
}
header {
    width: 100%;
    height: 60px;
    background: #643284;
}
header .logo {
    width: 267px;
    height: 113px;
    display: block;
    position: absolute;
}
header .logo img {
    width: 267px;
    height: 113px;
    display: block;
}
header .telefon {
    float: left;
    margin-left: 300px;
    font: bold 28px/60px 'Oswald', 'Arial';
    color: #FFF;
    height: 60px;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
header .telefon b {
    font-size: 16px;
    color: #ac78cd;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
header .telefon:hover {
    color: #ac78cd;
}
header .telefon:hover b {
    color: #FFF;
}
header nav {
    float: right;
}
header nav li {
    display: block;
    float: left;
}
header nav li a {
    padding: 0 20px;
    height: 57px;
    display: table;
    font: normal 12px/57px 'Open Sans', 'Arial';
    color: #FFF;
    text-transform: uppercase;
    border-bottom: 3px solid #643284;
    -webkit-transition-duration:400ms;
    -webkit-transition-property: background, border;
    -webkit-transition-timing-function:ease-out;
    -moz-transition-duration:400ms;
    -moz-transition-property: background, border;
    -moz-transition-timing-function:ease-out;
    -o-transition-duration:400ms;
    -o-transition-property: background, border;
    -o-transition-timing-function:ease-out;
    transition-duration:400ms;
    transition-property: background, border;
    transition-timing-function:ease-out;
}
header nav li a:hover {
    background: #754493;
    border-bottom-color: #a06cc2;
}
#icons {
    width: 1020px;
    height: 289px;
    margin: 90px auto 0 auto;
    display: table;
}
#icons .ico_block {
    background: url("images/ico_bg.png");
    width: 204px;
    height: 205px;
    float: left;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
#icons .ico_block .ico {
    width: 204px;
    height: 155px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
#icons .ico_block.mieszkania .ico {
    background-image: url('images/ico_mieszkania.png');
}
#icons .ico_block.domy .ico {
    background-image: url('images/ico_dom.png');
}
#icons .ico_block.dzialki .ico {
    background-image: url('images/ico_dzialki.png');
}
#icons .ico_block.lokale .ico {
    background-image: url('images/ico_lokale.png');
}
#icons .ico_block.przemyslowe .ico {
    background-image: url('images/ico_przemyslowe.png');
}
#icons .ico_block .title {
    width: 203px;
    height: 50px;
    display: table;
    color: #424242;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
    font: bold 24px/50px 'Oswald', 'Arial';
    text-align: center;
    text-transform: uppercase;
}
#icons .ico_block .bottom_link {
    background: #643284;
    display: table;
    font: normal 14px 'Oswald', 'Arial';
    color: #FFF;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    width: 102px;
    float: left;
    text-align: center;
    padding: 5px 0;
}
#icons .ico_block .bottom_link:last-child {
    background: #9046be;
}
/* hover ico_block */
#icons .ico_block:hover {
    background: url("images/ico_bg.png") -204px 0;
}
#icons .ico_block:hover .title {
    color: #ac78cd;
}
#icons .ico_block:hover .bottom_link {
    opacity: 1;
}
#content {
    width: 1020px;
    padding: 20px 20px 60px 20px;
    background: #eeeeee;
    display: table;
    margin: 0 auto;
}
.left_box {
    width: 260px;
    display: table;
    float: left;
}
.right_box {
    width: 740px;
    float: left;
    display: table;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'Open Sans', 'Arial';
    color: #424242;
}
.left_box .main_box {
    background: #542671;
    display: table;
    width: 260px;
    border-bottom: 12px solid #754594;
    margin-bottom: 15px;
}
.main_box ul {
    margin-bottom: 20px;
}
.main_box ul li {
    display: block;
}
.main_box ul li a {
    background: url("images/arrow.png") no-repeat 20px center;
    border-bottom: 1px solid #431b5e;
    display: table;
    width: 220px;
    height: 50px;
    font: bold 17px/50px 'Open Sans', 'Arial';
    color: #FFF;
    padding-left: 40px;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.main_box ul li a:hover {
    background-color: #62347f;
}
.icont_box {
    width: 220px;
    display: table;
    margin: 0 auto 10px auto;
}
.icont_box .title {
    width: 220px;
    height: 26px;
    display: block;
    margin-bottom: 5px;
}
.icont_box.phone .title {
    background: url("images/ico_phone.png");
}
.icont_box.mail .title {
    background: url("images/ico_mail.png");
    height: 18px;
}
.icont_box.home .title {
    background: url("images/ico_home.png");
}
.icont_box .content {
    text-align: center;
    color: #FFF;
    font: normal 20px 'Open Sans', 'Arial';
}
.icont_box .content b {
    font: bold 26px 'Oswald', 'Arial';
}
.icont_box .content a {
    color: #ab75cf;
    font: bold 12px 'Open Sans', 'Arial';
}

.icont_box .content a.mail {
   color: #FFF;
   font: normal 20px 'Open Sans', 'Arial' !important;
}


.icont_box.home .content {
    font-size: 16px;
}
.advert_box {}
.advert_box .title {
    font: 300 12px 'Open Sans', 'Arial';
    color: #bcbcbc;
    margin-bottom: 5px;
}
.advert_box img {
    max-width: 260px;
}
#info_boxes {}
#info_boxes .info_box {
    background: #e4e4e4;
    width: 190px;
    float: left;
    margin-left: 25px;
    padding: 15px 20px;
}
#info_boxes .info_box:first-child {
    margin-left: 0px;
}
#info_boxes .info_box .title {
    font: normal 22px 'Oswald', 'Arial';
    color: #424242;
    margin-bottom: 10px;
}
#info_boxes .info_box .content {
    font: 12px/20px 'Open Sans', 'Arial';
    color: #494543;
    text-shadow: 1px 1px #f1f1f1;
}
#info_boxes .info_box .content a.more {
    clear: left;
    float: right;
    font-weight: bold;
    color: #424242;
}
.main_title {
    width: 740px;
    display: table;
    background: url("images/main_title.png") no-repeat bottom left;
    height: 45px;
    margin: 20px 0;
    float: left;
}
.main_title h3 {
    font: normal 24px 'Oswald', 'Arial';
    color: #643284;
    text-transform: uppercase;
    float: left;
    display: table;
}
.pager {
    float: right;
}
.main_title .pager {
    margin-top: 6px;
}
.pager li {
    display: inline-block;
    float: left;
    margin-left: 2px;
}
.pager a, .pager span {
    display: table;
    background: #d5d5d5;
    width: 24px;
    height: 24px;
    text-align: center;
    font: normal 14px/24px 'Open Sans', 'Arial';
    color: #535353;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.pager .next a {
    background: url("images/next_page.png") !important;
}
.pager a:hover, .pager .active a {
    background: #643284;
    color: #FFF;
}
.list_boxes {}
.list_box {
    width: 194px;
    display: table;
    background: #e4e4e4;
    padding: 18px;
    box-shadow: 5px 5px #d4d4d4;
    float: left;
    margin: 0 0 20px 25px;
}
.list_boxes .list_box:nth-child(3n-2){
    margin: 0 0 20px 0px;
}
.list_box img:first-of-type {
    width: 194px;
    height: 128px;
    display: block;
    margin-bottom: 5px;
}
.list_box span {
    width: 100%;
    display: table;
    text-align: center;
    color: #424242;
    font: 12px/18px 'Open Sans', 'Arial';
    padding: 3px 0;
}
.list_box span:nth-child(2n+1){
    background: #FFF;
}

span.titlehead {
    font-weight: bold;
    margin-bottom: 5px;
}

.list_box a span {
    background: none !important;
}
.list_box .bottom_link {
    background: #643284;
    display: table;
    font: normal 13px 'Oswald', 'Arial';
    color: #FFF;
    text-transform: uppercase;
    width: 100px;
    float: left;
    text-align: left;
    padding: 5px 0 5px 10px;
    margin-top: 10px;
}
.list_box .bottom_link:last-child {
    background: #9046be;
    width: 84px;
    text-align: center;
    padding: 5px 0;
}
.footer_line {
    background: url("images/footer_line.png");
    width: 100%;
    height: 9px;
}
footer {
    background: url("images/footer_bg.png");
    display: table;
    width: 100%;
    padding: 20px 0 0 0;
    min-height: 150px;
    height: 150px;
}
footer .cc {
    float: left;
}
footer .copy {
    color: #d2d2d2;
    font: 13px 'Open Sans', 'Arial';
    display: block;
    margin-bottom: 8px;
}
footer .create {
    color: #bebebe;
    display: block;
    font: 13px 'Open Sans', 'Arial';
}
footer .mbalawajder {
    background: url("images/mbalawajder.png") no-repeat left center;
    font-weight: bold;
    color: #bebebe;
    padding: 3px 0 3px 22px;
}
footer .find_us {
    float: right;
}
footer .find_us span {
    font: 300 16px/32px 'Oswald', 'Arial';
    color: #d6d6d6;
    height: 32px;
    display: table;
    float: left;
    margin-right: 10px;
}
footer .ico_facebook {
    background: url("images/ico_facebook.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
footer .ico_twitter {
    background: url("images/ico_twitter.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
footer .ico_twitter:hover, footer .ico_facebook:hover {
    background-position: 0 -32px;
}
.gotop {
    background: url("images/gotop.png");
    width: 52px;
    height: 25px;
    display: block;
    position: absolute;
    margin: -51px 0 0 968px;
}
.breadcrumb {}
.breadcrumb a {
    color: #424242;
    font: 12px 'Open Sans', 'Arial';
    padding: 4px 16px 4px 6px;
    background: url("images/arrow2.png") no-repeat right center;
    display: inline-block;
}
.breadcrumb a:first-child {
    background: #dedede;
    padding: 4px 6px;
}
.breadcrumb a:last-child {
    font-weight: bold;
    padding: 4px 6px;
    background: none;
}
/* contact */
.maps_box {
    border: 8px solid #dedede;
    display: table;
    width: 384px;
    height: 220px;
    float: left;
}
.contact_opis {
    float: left;
    width: 260px;
    display: table;
    margin-left: 35px;
    color: #424242;
    font: normal 14px/19px 'Open Sans', 'Arial';
}
.contact_opis a {
    font-weight: bold;
}
.page_title {
    width: 740px;
    display: table;
    height: 25px;
    margin: 20px 0;
    float: left;
    color: #424242;
    font: normal 16px 'Open Sans', 'Arial';
    border-bottom: 3px solid #cdcdcd;
    text-transform: uppercase;
}
.page_title .title, .page_title h3 {
    color: #424242;
    font: normal 18px 'Open Sans', 'Arial';
    float: left;
}    
.team_box {
    width: 720px;
    display: table;
    background: #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
}
.team_box .image {
    background: #dedede;
    display: table;
    width: 140px;
    height: 150px;
    display: block;
    float: left;
    padding: 5px;
}
.team_box .image img {
    width: 140px;
    height: 150px;
    display: block;
}
.team_box .desc {
    float: left;
    width: 535px;
    color: #878787;
    font: normal 13px/18px 'Open Sans', 'Arial';
    margin: 10px 0 0 20px;
}
.team_box .desc h5 {
    font: normal 26px 'Oswald', 'Arial';
    color: #424242;
}
.team_box .desc span {
    color: #424242;
    font: normal 16px 'Open Sans', 'Arial';
}
.nasza_siedziba_box {
    width: 740px;
    display: table;
}
.nasza_siedziba_box img {
    width: 194px;
    height: 128px;
    border: 7px solid #dedede;
    margin: 0 10px 10px 0;
}
.contact_form {
    background: #dedede;
    display: table;
    width: 700px;
    padding: 20px;
    margin: 15px 0;
}
.contact_form label {
    color: #4d4d4d;
    font: normal 12px 'Open Sans', 'Arial';
    margin-bottom: 10px;
    display: block;
    text-shadow: 1px 1px #FFF;
}
.contact_form input[type=text], .contact_form textarea {
    background: #eeeeee;
    border: 1px solid #b8b8b8;
    width: 200px;
    padding: 7px 7px;
    color: #777;
    font: normal 12px 'Open Sans', 'Arial';
    margin-bottom: 10px;
}
.contact_form textarea {
    width: 680px;
    height: 150px;
}
.contact_form .extra {
    font: italic 12px 'Open Sans', 'Arial';
    color: #4d4d4d;
}
.contact_form button[type=submit] {
    display: block;
    border: 1px solid #754594;
    border-bottom-width: 6px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px #9460b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    background: #ab75cf;
    
}

.contact_form input[type=submit] {
    display: block;
    border: 1px solid #754594;
    border-bottom-width: 6px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px #9460b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    background: #ab75cf;
    
}


.contact_form button span {
    border-bottom: 0px;
    padding: 6px 10px;
    background: #ab75cf;
    font: normal 14px 'Open Sans', 'Arial';
    display: table;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.article_content {
    color: #474542;
    font: normal 13px/20px 'Open Sans', 'Arial';
}
.article_content h4 {
    font: bold 16px 'Oswald', 'Arial';
    color: #474542;
}
.article_content h4.violet {
    color: #ab75cf;
}
.article_content ul li {
    display: block;
    background: url("images/arrow3.png") no-repeat left center;
    padding: 3px 0 3px 13px;
}
.team_box .desc .desc_text {
    color: #474542;
    display: table;
    margin-top: 10px;
    font: normal 13px/21px 'Open Sans', 'Arial';
}
/* wyszukiwarka */
.search_form {
    background: #dedede;
    display: table;
    width: 700px;
    padding: 20px;
    margin: 15px 0;
}
.search_form .title {
    font: normal 26px 'Oswald', 'Arial';
    margin-bottom: 10px;
}
.search_form .text {
    float: left;
    margin: 0 10px 10px 0;
}
.search_form .text label {
    color: #4d4d4d;
    font: normal 12px 'Open Sans', 'Arial';
    margin-bottom: 5px;
    display: block;
    text-shadow: 1px 1px #FFF;
}
.search_form .text ul label {
    text-shadow: none;
    color: #000;
}
.search_form .text input[type=text] {
    background: #eeeeee;
    border: 1px solid #b8b8b8;
    width: 112px;
    padding: 7px 7px;
    color: #777;
    font: normal 12px 'Open Sans', 'Arial';
}
.search_form .text select {
    background: #eeeeee;
    border: 1px solid #b8b8b8;
    width: 128px;
    padding: 6px 7px;
    color: #777;
    font: normal 12px 'Open Sans', 'Arial';
    display: block;
}
.search_form .text.x2 input[type=text] {
    width: 50px;
    display: table;
    float: left;
    margin-right: 2px;
}
.search_form .checkbox {
    width: 230px;
    margin: 3px 0;
    float: left;
    display: table;
}
.search_form .checkbox label {
    color: #4d4d4d;
    font: normal 12px 'Open Sans', 'Arial';
    text-shadow: 1px 1px #FFF;
    float: left;
}
.search_form .checkbox input[type=checkbox] {
    float: left;
    margin: 2px 5px 0 0;
}
.search_form button[type=submit] {
    display: table;
    border: 1px solid #754594;
    border-bottom-width: 6px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px #9460b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    clear: left;
    float: left;
    background: #ab75cf;
}
.search_form button[type=submit] span {
    border-bottom: 0px;
    padding: 6px 10px;
    background: #ab75cf;
    font: normal 14px 'Open Sans', 'Arial';
    display: table;
}
.sort_box {
    float: right;
    margin-right: 15px;
    display: table;
}
.sort_box label {
    font: bold 12px 'Open Sans', 'Arial';
    color: #424242;
    text-transform: none;
    margin-right: 5px;
}
.sort_box select {
    border: 0px;
    background: #eeeeee;
    color: #555;
    font: normal 12px 'Open Sans', 'Arial';
    text-transform: none;
}
.search_article {    
    width: 704px;
    display: table;
    background: #e4e4e4;
    padding: 18px;
    box-shadow: 5px 5px #d4d4d4;
    float: left;
    margin: 0 0 20px 0;
}
.search_article figure {
    float: left;
    display: table;
}
.search_article figure img {
    width: 194px;
    height: 128px;
    display: block;
}
.search_article figure figcaption {
    color: #878787;
    font: bold 12px 'Open Sans', 'Arial';
    width: 192px;
    display: table;
    text-align: center;
    border: 1px solid #FFF;
    padding: 5px 0;
    margin-top: 7px;
}
.search_article figure figcaption b {
    color: #424242;
}
.search_article .desc {
    width: 480px;
    float: left;
    display: table;
    margin-left: 20px;
}
.search_article .desc .title {
    font: normal 16px 'Open Sans', 'Arial';
    width: 100%;
    display: table;
    margin-bottom: 10px;
    color: #424242;
}
.search_article .desc .list_text {
    font: normal 12px 'Open Sans', 'Arial';
    color: #878787;
    width: 30%;
    display: inline-table;
}
.search_article .desc .list_text b {
    color: #424242;
    font-weight: bold;
}
.search_article .desc .price {
    margin: 10px 0;
    display: table;
    width: 100%;
}
.search_article .desc .price .all {
    background: #643284;
    display: table;
    font: normal 14px 'Oswald', 'Arial';
    color: #FFF;
    padding: 3px 8px 3px 8px;
    min-width: 80px;
    float: left;
    margin-right: 1px;
}
.search_article .desc .price .per-meter {
    background: #FFF;
    display: block;
    font: normal 14px 'Oswald', 'Arial';
    color: #878787;
    padding: 3px 8px 3px 8px;
    float: left;
    margin-right: 1px;
    height: 22px;
    overflow: hidden;
}
.search_article .desc .price .per-meter b {
    color: #424242;
}
.search_article .desc .price .per-meter sup {
    font-size: 8px;
}
.search_article .desc .price .per-month {
    background: #FFF;
    display: table;
    font: normal 14px 'Oswald', 'Arial';
    color: #878787;
    padding: 3px 8px 3px 8px;
    float: left;
    margin-right: 1px;
}
.search_article .desc .price .per-month b {
    color: #fa806b;
}
.search_article .desc .links {
    width: 100%;
    display: table;
}
.search_article .desc .links li {
    list-style-type: square;
    float: left;
    margin-left: 16px;
    color: #ababab;
    font-size: 10px;
}
.search_article .desc .links li a {
    color: #6f6f6f;
    font: normal 11px 'Open Sans', 'Arial';
}
.search_article .desc .links li a:hover {
    color: #643284;
}
#tooltip {
    background: url("images/tooltip.png");
    width: 227px;
    height: 184px;
	position: absolute;
	z-index: 3000;
    font: normal 12px 'Open Sans', 'Arial';
    color: #424242;
    padding: 20px;
    margin: -244px 0 0 -145px;
}
#tooltip h3, #tooltip div { margin: 0; 
    font: normal 12px 'Open Sans', 'Arial' !important; }

#tooltip h3 {
    font-weight: bold !important;
    margin-bottom: 10px;
    display: table;
}
.product_desc {
    width: 100%;
    display: table;
}
.product_desc .list_text {
    font: normal 12px 'Open Sans', 'Arial';
    color: #878787;
    width: 33%;
    display: inline-table;
}
.product_desc .list_text b {
    color: #424242;
    font-weight: bold;
}
.product_desc .send_question {
    display: table;
    border: 1px solid #754594;
    border-bottom-width: 6px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px #9460b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 5px 10px 0;
    cursor: pointer;
    float: left;
    background: #ab75cf;
}
.product_desc .send_question span {
    border-bottom: 0px;
    padding: 6px 10px;
    background: #ab75cf;
    font: normal 14px 'Oswald', 'Arial';
    display: table;
}
.product_desc .print {
    display: table;
    border: 1px solid #9e9e9e;
    border-bottom-width: 6px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px #e4e4e4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    float: left;
    background: #cdcdcd;
}
.product_desc .print span {
    border-bottom: 0px;
    padding: 6px 10px;
    background: #cdcdcd;
    font: normal 14px 'Oswald', 'Arial';
    display: table;
}
.product_desc .price {
    margin: 10px 0;
    display: table;
    width: 100%;
}
.product_desc .price .all {
    background: #643284;
    display: table;
    font: normal 20px 'Oswald', 'Arial';
    color: #FFF;
    padding: 3px 8px 3px 8px;
    min-width: 80px;
    float: left;
    margin-right: 1px;
}
.product_desc .price .change-price   {
    background: #dedede;
    display: block;
    font: bold 11px 'Open Sans', 'Arial';
    color: #643284;
    padding: 3px 8px 3px 8px;
    float: left;
    margin-right: 1px;
    height: 30px;
    width: 80px;
    text-shadow: 1px 1px #FFF;
}
.product_desc .price .per-meter {
    background: #dedede;
    display: block;
    font: normal 20px 'Oswald', 'Arial';
    color: #878787;
    padding: 3px 8px 3px 8px;
    float: left;
    margin-right: 1px;
    height: 30px;
    overflow: hidden;
}
.product_desc .price .per-meter b {
    color: #424242;
}
.product_desc .price .per-meter sup {
    font-size: 10px;
}
.product_desc .price .per-month {
    background: #dedede;
    display: table;
    font: normal 20px 'Oswald', 'Arial';
    color: #878787;
    padding: 3px 8px 3px 8px;
    float: left;
    margin-right: 1px;
}
.product_desc .price .per-month b {
    color: #fa806b;
}
.product_title {
    font: normal 20px 'Open Sans', 'Arial';
    color: #424242;
    display: table;
    width: 100%;
    margin: 10px 0;
}
/* galeria */
.gallery-text {
    background: url("images/ico_picture.png") no-repeat right center;
    float: right;
    clear: right;
    color: #404040;
    display: table;
    height: 60px;
    line-height: 60px;
    padding-right: 58px;
    margin-right: 8px;
    font-weight: bold;
}
/* skrypt galerii */
.gallery-box{
	position:relative;
	width:724px;
	height:460px;
    margin-bottom: 100px;
    border: 8px solid #dedede;
}
.pika-imgnav {
    display: ;
}
.pika-stage {
	position: absolute;
	height:460px;
	width:724px;
	top:0px;
	left:0px;
}
.pika-stage img{
	border:0;
    height: 460px;
    width: 724px;
}
.pika-stage .pika-aniwrap{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:9;
}

.pika-stage .caption {
    font-family: Ubuntu;
    font-size: 15px;
    padding: 5px;
    width: 500px;
    color: #404040;
    position: absolute;
    bottom: -35px;
    left: 0;
    z-index: 11;
    display: none !important;
}
.pika-textnav {
    display: none;
}
.pika-counter {
    display: none;
}
.pika-imgnav{
	width: 724px;
	height: 25px;
	position: absolute;
	bottom: -39px;
        left:0;
	z-index:11;
}	

.pika-imgnav a {
	position: absolute; 
	text-indent: -5000px; 
	height: 25px; 
	width: 35px;
	display: block;
	z-index:11;
	background:url(images/controls.png) 0 0 no-repeat;
	cursor:pointer;
	top:0px;
	right:10px;}

	.pika-imgnav a.pause, .pika-imgnav a.play {
		background-position:17px -15px;
        display: none;
}
		
	.pika-imgnav a.play, .pika-imgnav a.next {
		background-position:17px 5px;
		right:10px;}

	.pika-imgnav a.tray{
		background-position:17px -55px;
		right:2px;}

	.pika-imgnav a.next{
		right:45px;}

	.pika-imgnav a.previous {
		background-position:17px -35px;
		right:92px;}

.pika-thumbs li{
	float:left;
	list-style: none;
	width: 120px;
	height:55px;
	overflow:hidden;
	margin:1px 12px;
    border: 8px solid #cdcdcd;}
.jcarousel-container img {
    opacity: 1 !important;
    cursor: pointer;
}
.jcarousel-container .active {
    border-color: #ab75cf;
}
.pika-thumbs li .clip{
	position:relative;
	height:100%;
	overflow: hidden;}

#pikame{
	width: 724px;}

.pika-stage, .pika-thumbs li{}

	
.jcarousel-clip-horizontal{
	width:628px;
	overflow:hidden;
	left:47px;}

.jcarousel-container{
	position:absolute !important;
	width:740px;
	background:#dedede;
	bottom:-105px;
    left: -8px;
	height:71px !important;
	z-index:10;
    padding: 10px 0;
	overflow:hidden;}

.jcarousel-container *{
    z-index:10;}

.jcarousel-prev {
	width:25px;
	height:39px;
	background:url(images/prev.png) top left no-repeat;
	display:block;
	position:absolute;
    top: 26px;
    left: 15px;
	cursor:pointer;
}
.jcarousel-next{
	width:25px;
	height:39px;
	background:url(images/next.png) top left no-repeat;
	display:block;
	position:absolute;
    top: 26px;
    right: 15px;
	cursor:pointer;
}
.jcarousel-prev:hover, .jcarousel-next:hover {
    background-position: 0 -39px;
}
.jcarousel-prev-disabled, .jcarousel-next-disabled, .jcarousel-prev-disabled:hover, .jcarousel-next-disabled:hover{
    opacity: 0.3;
    background-position: 0 0px;
}
.pika-imgnav a:hover {
	background-image:url(images/controls_blue.png);
}
.pika-imgnav {
    display: none !important;
}
.product_links {
    display: table;
    float: left;
}
.product_links li {
    float: left;
    list-style-type: none;
}
.product_links a {
    background: #dedede;
    display: inline-table;
    float: left;
}
.product_links a span {
    opacity: 0.5;
}
.product_links .ui-tabs-active span, .product_links a:hover span {
    opacity: 1;
}
.product_links .photos span {
    background: url("images/ico_photos.png") no-repeat left center;
    display: table;
    padding: 5px 0 5px 25px;
    font: 16px 'Oswald', 'Arial';
    color: #424242;
    text-transform: uppercase;
    margin: 0 10px;
}
.product_links .map span {
    background: url("images/ico_map.png") no-repeat left center;
    display: table;
    padding: 5px 0 5px 18px;
    font: 16px 'Oswald', 'Arial';
    color: #424242;
    text-transform: uppercase;
    margin: 0 10px;
}
.product_links .plane span {
    background: url("images/ico_plane.png") no-repeat left center;
    display: table;
    padding: 5px 0 5px 25px;
    font: 16px 'Oswald', 'Arial';
    color: #424242;
    text-transform: uppercase;
    margin: 0 10px;
}
.product_number {
    float: right;
    font: 16px/34px 'Oswald', 'Arial';
    color: #424242;
    text-transform: uppercase;
}
/* pop up */
#popup {
    width: 700px;
    padding: 20px 30px 40px 30px;
    display: none;
}
#popup .title {
    background: url("images/ico_popup.png") no-repeat left center;
    display: table;
    padding: 0 0 0 110px;
    height: 82px;
    font: 22px 'Oswald', 'Arial';
    color: #424242;
    margin-bottom: 20px;
}
#popup .title b {
    color: #542671;
    font-weight: normal;
    margin-top: 6px;
    display: inline-table;
}
#popup .text {
    width: 270px;
    float: left;
    display: table;
    font: normal 13px/20px 'Open Sans', 'Arial';
    color: #424242;
}
#popup .form {
    width: 390px;
    display: table;
    float: left;
    margin-left: 20px;
}
#popup .form .input {
    float: left;
    margin-right: 10px;
}
#popup .form label {
    font: normal 16px 'Open Sans', 'Arial';
    color: #424242;
    display: block;
    margin-bottom: 5px;
}
#popup .form label sup, #popup .form span sup {
    color: #643284;
}
#popup .form .input input[type=text] {
    background: #FFF;
    border: 1px solid #b8b8b8;
    width: 160px;
    padding: 7px 7px;
    color: #777;
    font: normal 12px 'Open Sans', 'Arial';
    margin-bottom: 10px;
}
#popup .form span {
    color: #777;
    font: normal 12px 'Open Sans', 'Arial';
}
#popup button[type=submit] {
    display: table;
    border: 1px solid #754594;
    border-bottom-width: 6px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px #9460b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    background: #ab75cf;
}
#popup button span {
    border-bottom: 0px;
    padding: 6px 10px;
    background: #ab75cf;
    font: normal 14px 'Oswald', 'Arial' !important;
    display: table;
    color: #FFF !important;
}
/* aktualnosci */
.post {
    border-bottom: 1px dashed #999;
    display: table;
    margin-bottom: 15px;
}
.post .date {
    color: #c6c6c6;
    font: 13px 'Oswald', 'Arial';
}
.post .title {
    color: #424242;
    font: 28px 'Oswald', 'Arial';
}
.post .content {
    color: #424242;
    font: 13px/20px 'Open Sans', 'Arial';
    margin: 10px 0;
    display: table;
}
.post .read_more {
    display: table;
    border: 1px solid #9e9e9e;
    border-bottom-width: 6px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px #e4e4e4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    cursor: pointer;
    float: left;
    background: #cdcdcd;
}
.post .read_more span {
    border-bottom: 0px;
    padding: 6px 10px;
    background: #cdcdcd;
    font: normal 15px 'Oswald', 'Arial';
    display: table;
}
#tabs-2, #tabs-3 {
    width: 724px;
    height: 460px;
    border: 8px solid #dedede;
    display: table;
}

ul.errors { list-style-type: none;}
ul.errors li {color : red; font-weight: bold; padding: 10px; }

.new_price {text-decoration: line-through; color: mediumorchid}

.titlehead {height: 40px; overflow: hidden}