<div class="breadcrumb">

    <a href="/">Strona główna</a>
    <a href="#">Mieszkania</a>
    <a href="#">Sprzedaż</a>
    <a href="#"><?php echo $this->data['title']; ?></a>

</div>

<span class="product_title"><?php echo $this->data['title']; ?></span>
<?php echo $this->partial('_partial/offer/tabs.phtml', array('data' => $this->data)); ?>
<div class="product_desc">
    <?php echo $this->partial('_partial/offer/price.phtml', array('data' => $this->data, 'type' => 'sell')); ?>

    <?php if (!empty($this->data['id']) && !in_array('id', $this->blocked)): ?>
        <span class="list_text">Nr. oferty: <b><?php echo $this->data['id']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['surface']) && !in_array('surface', $this->blocked)): ?>
        <span class="list_text">Powierzchnia: <b><?php echo $this->data['surface']; ?>m2</b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['building_type']) && !in_array('building_type', $this->blocked)): ?>
        <span class="list_text">Typ budynku: <b><?php echo Model_Logic_Enum::getInstance()->getBuildingTypeByid($this->data['building_type']); ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['city']) && !in_array('city', $this->blocked)): ?>
        <span class="list_text">Miasto: <b><?php echo $this->data['city']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['rooms']) && !in_array('rooms', $this->blocked)): ?>
        <span class="list_text">Liczba pokoi: <b><?php echo $this->data['rooms']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['building_material']) && !in_array('building_material', $this->blocked)): ?>
        <span class="list_text">Materiał: <b><?php echo Model_Logic_Enum::getInstance()->getFlatMaterialTypeById($this->data['building_material']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['section']) && !in_array('section', $this->blocked)): ?>
        <span class="list_text">Dzielnica: <b><?php echo $this->data['section']; ?></b></span>
    <?php endif; ?>

    <?php if (($this->data['floor'] != '') && !in_array('floor', $this->blocked)): ?>
        <span class="list_text">Piętro: <b><?php echo $this->data['floor']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['quality']) && !in_array('quality', $this->blocked)): ?>
        <span class="list_text">Stan mieszkania: <b><?php echo Model_Logic_Enum::getInstance()->getQualityById($this->data['quality']); ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['street']) && !in_array('street', $this->blocked)): ?>
        <span class="list_text">Ulica: <b><?php echo $this->data['street']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['floors_in_building']) && !in_array('floors_in_building', $this->blocked)): ?>
        <span class="list_text">Ilość pięter w budynku: <b><?php echo $this->data['floors_in_building']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['rent']) && !in_array('rent', $this->blocked)): ?>
        <span class="list_text">Czynsz: <b><?php echo $this->data['rent']; ?></b></span>
    <?php endif; ?>

    <?php echo $this->partial('_partial/offer/middle.phtml', array('data' => $this->data)); ?>

    <h4 class="page_title">Dodatkowe informacje</h4>

    <div class="article_content">


        <?php if (!empty($this->data['year']) && $this->data['year'] != '0000' && !in_array('year', $this->blocked)): ?> 
            <b>Rok budowy:</b> <?php echo $this->data['year']; ?>,
        <?php endif; ?>

        <?php if (!empty($this->data['levels']) && !in_array('levels', $this->blocked)): ?> 
            <b>Liczba poziomów:</b> <?php echo $this->data['levels']; ?>,
        <?php endif; ?>

        <?php if (!empty($this->data['ownership']) && !in_array('ownership', $this->blocked)): ?> 
            <b>Forma własności:</b> <?php echo Model_Logic_Enum::getInstance()->getOwnershipById($this->data['ownership']); ?>,
        <?php endif; ?>
        <?php if (!empty($this->data['market']) && !in_array('market', $this->blocked)): ?> 
            <b>Rynek:</b> <?php echo Model_Logic_Enum::getInstance()->getMarketById($this->data['ownership']); ?>, 
        <?php endif; ?>
        <?php if (!empty($this->data['installation_quality']) && !in_array('installation_quality', $this->blocked)): ?> 
            <b>Stan instalacji:</b> <?php echo Model_Logic_Enum::getInstance()->getInstallationStateById($this->data['installation_quality']); ?>, 
        <?php endif; ?>
        <?php if (!empty($this->data['windows']) && !in_array('windows', $this->blocked)): ?> 
            <b>Okna:</b> <?php echo Model_Logic_Enum::getInstance()->getWindowById($this->data['windows']); ?>, 
        <?php endif; ?>
        <?php if (!empty($this->data['kitchen']) && !in_array('kitchen', $this->blocked)): ?> 
            <b>Kuchnia:</b> <?php echo Model_Logic_Enum::getInstance()->getKitchenById($this->data['kitchen']); ?>,  
        <?php endif; ?>
        <?php if (!empty($this->data['noise']) && !in_array('noise', $this->blocked)): ?> 
            <b>Głośność:</b> <?php echo Model_Logic_Enum::getInstance()->getNoiseById($this->data['noise']); ?>, 
        <?php endif; ?>
        <?php if (!empty($this->data['heat']) && !in_array('heat', $this->blocked)): ?> 
            <b>Ogrzewanie:</b> <?php echo Model_Logic_Enum::getInstance()->getFlatHeatById($this->data['heat']); ?>, 
        <?php endif; ?>
        <?php if (!empty($this->data['additional']) && !in_array('additional', $this->blocked)): ?> 
            <?php $aAdditionals = Model_Logic_Enum::getInstance()->getFlatAdditionalSellByGroupOfId(explode(',', $this->data['additional'])); ?>
            <b>Dodatkowe:</b> <?php echo implode(', ', $aAdditionals); ?> 
        <?php endif; ?>
    </div>

    <?php echo $this->partial('_partial/offer/seller.phtml', array('data' => $this->data)); ?>

