<script>
var type = <?php echo $this->type; ?>;
</script>
<?php if ($this->type == Model_Logic_Offer_Flat_Rent::ID): ?>
    <?php $aLabels = array('breadcrumb' => 'Wynajem', 'header' => 'do wynajęcia'); ?>
    <?php $this->rate = false; ?>
<?php elseif ($this->type == Model_Logic_Offer_Flat_Sell::ID): ?>
    <?php $aLabels = array('breadcrumb' => 'Sprzedaż', 'header' => 'na sprzedaż'); ?>
    <?php $this->rate = true; ?>
<?php endif; ?>
<div class="breadcrumb">

    <a href="/">Strona główna</a>
    <a href="/">Miekszania</a>
    <a href="#"><?php echo $aLabels['breadcrumb']; ?></a>

</div>

<div class="main_title">

    <h3><b>Mieszkania</b> <?php echo $aLabels['header']; ?></h3>

</div>

<div class="search_form">

    <h4 class="title">Filtruj wyszukiwanie</h4>
    <form method="GET" id="filter">
        <div class="text">

            <?php echo $this->form->offer_id->renderLabel(); ?>
            <?php echo $this->form->offer_id->renderViewHelper(); ?>

        </div>

        <div class="text">
            <?php echo $this->form->city->renderLabel(); ?>
            <?php echo $this->form->city->renderViewHelper(); ?>

        </div>

        <div class="text">
            <?php echo $this->form->section->renderLabel(); ?>
            <?php echo $this->form->section->renderViewHelper(); ?>

        </div>
        <div class="text x2">
            <?php echo $this->form->price_from->renderLabel(); ?>
            <?php echo $this->form->price_from->renderViewHelper(); ?>
            <?php echo $this->form->price_to->renderViewHelper(); ?>

        </div>

        <div class="text x2">

            <?php echo $this->form->price_surface_from->renderLabel(); ?>
            <?php echo $this->form->price_surface_from->renderViewHelper(); ?>
            <?php echo $this->form->price_surface_to->renderViewHelper(); ?>

        </div>

        <div class="text x2">
            <?php echo $this->form->rooms_from->renderLabel(); ?>
            <?php echo $this->form->rooms_from->renderViewHelper(); ?>
            <?php echo $this->form->rooms_to->renderViewHelper(); ?>

        </div>

        <div class="text x2">
            <?php echo $this->form->floor_from->renderLabel(); ?>
            <?php echo $this->form->floor_from->renderViewHelper(); ?>
            <?php echo $this->form->floor_to->renderViewHelper(); ?>

        </div>

        <div class="text x2">
            <?php echo $this->form->surface_from->renderLabel(); ?>
            <?php echo $this->form->surface_from->renderViewHelper(); ?>
            <?php echo $this->form->surface_to->renderViewHelper(); ?>
        </div>

        <div class="text">
            <?php echo $this->form->quality->renderLabel(); ?>
            <?php echo $this->form->quality->renderViewHelper(); ?>

        </div>

        <div class="clear"></div>

        <?php $aValues = $this->form->categories->getValue(); ?>
        <?php foreach ($this->form->categories->options as $iId => $sCheboxName): ?>
            <div class="checkbox">
                <input <?php if(!empty($aValues) &&  in_array($iId, $aValues)): ?>checked="checked" <?php endif; ?> name="categories[]" id="categores-<?php echo $iId; ?>" type="checkbox" value="<?php echo $iId; ?>"/>
                <label><?php echo $sCheboxName; ?></label>
            </div>

        <?php endforeach; ?>
        <button type="submit">
            <span>Szukaj</span>
        </button>

</div>

<div class="page_title">
    <h3 class="title">Znalezionych ofert : <b><?php echo $this->data->getTotalItemCount(); ?></b></h3>
    <?php echo $this->paginationControl($this->data, 'Sliding', '_partial/main_paginator.phtml', array('route' => Model_Logic_Offer::getInstance()->getRoute($this->type), 'pageName' => 'page')); ?>
    <div class="sort_box">
        <?php echo $this->form->sort->renderLabel(); ?>
        <?php echo $this->form->sort->renderViewHelper(); ?>
    </div>
</div>
</form>
<div id="per-month" style="display: none;">test rata</div>
<?php foreach ($this->data as $aOffer): ?>
    <div class="search_article">
        <figure>
            <a href="<?php echo $this->url(array('id' => $aOffer['id'], 'seo' => $aOffer['title']), 'detail'); ?>"><?php echo $this->image($aOffer['id'], $aOffer['photo'], 194, 129); ?></a>
            <figcaption>Nr. oferty: <b><?php echo $aOffer['id']; ?></b></figcaption>
        </figure>
        <div class="desc">
            <a href="<?php echo $this->url(array('id' => $aOffer['id'], 'seo' => $aOffer['title']), 'detail'); ?>" class="title"><?php echo $aOffer['title']; ?></a>
            <span class="list_text">Miasto: <b><?php echo $aOffer['city']; ?></b></span>
            <span class="list_text">Liczba pokoi: <b><?php echo $aOffer['rooms']; ?></b></span>
            <span class="list_text">Powierzchnia: <b><?php echo $aOffer['surface']; ?>m2</b></span>
            <span class="list_text">Dzielnica: <b><?php echo $aOffer['section']; ?></b></span>
            <span class="list_text">Piętro: <b><?php echo $aOffer['floor']; ?> z <?php echo $aOffer['floors_in_building']; ?></b></span>
            <span class="list_text">Stan techniczny: <b><?php echo Model_Logic_Enum::getInstance()->getQualityById($aOffer['quality']); ?></b></span>
            <div class="price">

                <span class="all" style="width: 130px">
                    
                               <?php if(isset($aOffer['new_price'])): ?>
                    <span class="new_price"><?php echo number_format($aOffer['new_price'], 0, ',' , ' '); ?> zł</span>
                        <?php endif; ?>
                    <?php echo number_format($aOffer['price'], 0, ',', ' '); ?> zł</span>
                <span class="per-meter"><b><?php echo number_format($aOffer['price_surface'], 2, ',', ' '); ?> zł</b> / m<sup>2</sup></span>
                <?php if ($this->rate): ?>
                    <a href="<?php echo $this->url(array('id' => $aOffer['id'], 'seo' => $aOffer['title']), 'detail'); ?>?ask" class="per-month">RATA JUŻ OD <b><?php echo number_format(Model_Logic_Offer::getInstance()->countRate($aOffer['price']), 0, ',', ' '); ?> zł</b>  / ms</a>
                <?php endif; ?>
            </div>


            <?php if (isset($aOffer['categories']) && !empty($aOffer['categories'])): ?>
                <ul class="links">
                    <?php $aCategories = explode('|x|', $aOffer['categories']); ?>
                    <?php foreach ($aCategories as $aCategory): ?>
                        <?php $aCatData = explode('|', $aCategory); ?>
                        <?php if($aCatData[0] == 'Możliwa zamiana'): ?>
                         <?php $sName = $aCatData[0]; ?>
                        <li><a href="#" <?php if (isset($aCatData[2]) && !empty($aCatData[2])): ?>title="<?php echo $aCatData[2]; ?>"<?php endif; ?>><?php echo $sName; ?></a></li>  
                       <?php elseif($aCatData[0] == 'Nowa cena'): ?>
                         <?php $sName = $aCatData[0]; ?>
                        <li><a href="#" <?php if (isset($aCatData[1]) && !empty($aCatData[1])): ?>title="<?php echo $aCatData[1]; ?>"<?php endif; ?>><?php echo $sName; ?></a></li>   
                        <?php else: ?>
                        <?php $sName = (isset($aCatData[2]) && !empty($aCatData[2])) ? $aCatData[0] . ' ' . $aCatData[2] : $aCatData[0]; ?>
                        <li><a href="#" <?php if (isset($aCatData[1]) && !empty($aCatData[1])): ?>title="<?php echo $aCatData[1]; ?>"<?php endif; ?>><?php echo $sName; ?></a></li>  
                        <?php endif; ?>
                        <?php endforeach; ?>
                </ul>
            <?php endif; ?>




        </div>
    </div>
<?php endforeach; ?>


<?php echo $this->paginationControl($this->data, 'Sliding', '_partial/main_paginator.phtml', array('route' => Model_Logic_Offer::getInstance()->getRoute($this->type), 'pageName' => 'page')); ?>
