<?php echo $this->partial('_partial/offer_menu.phtml', array('offer' => $this->data->offer)); ?>
<?php echo $this->data->form; ?>

<div id="filebox"><h2>Pliki :</h2></div>
<div class="wait" id="galleryDropZone"><p>Przeciągnij plik na mnie aby je dodać do umowy lub kliknij jeżeli chcesz je wybrać z listy</p><p id="progress"></p></div>
<div style="clear: both; width: 170px; margin-top: 40px; margin: 0px auto;">