<?php echo $this->partial('_partial/offer_menu.phtml', array('offer' => $this->data->offer)); ?>

<a href="<?php
echo $this->url(array(
    'action' => 'agreement'));
?>">Zarządzaj</a>


<div id="agreement-details">
    <?php if (!empty($this->data->agreement)): ?>
        <table style="float: left">
            <tr>
                <th>Adres</th>
                <td><?php echo $this->data->agreement['postcode'] . ' ' . $this->data->agreement['city']; ?><br/>
                    <?php
                    if (!empty($this->data->agreement['house'])) {
                        $this->data->agreement['street'] .= ' ' . $this->data->agreement['house'];
                    }
                    ?>

                    <?php
                    if (!empty($this->data->agreement['flat'])) {
                        $this->data->agreement['street'] .= '/' . $this->data->agreement['flat'];
                    }
                    ?>

                    <?php echo $this->data->agreement['street']; ?>
                </td>
            </tr>
            <tr>
                <th>Właściciele</th>
                <td>
                    <?php if (!empty($this->data->owners)) : ?>
                        <?php foreach ($this->data->owners as
                                       $aOwner): ?>

                            <p class="owner">
                                <?php printf('<a href="#" data="%s" class="quickdetail">%s %s (%s)</a>', $aOwner['id'], $aOwner['surname'], $aOwner['name'], $aOwner['phone']); ?>
                            </p>

                        <?php endforeach; ?>
                    <?php endif; ?>
                </td>
            </tr>
            <tr>
                <th>Numer księgi wieczystej</th>
                <td><?php echo $this->data->agreement['land_and_mortgage_register']; ?></td>
            </tr>
            <tr>
                <th>Typ umowy</th>
                <td><?php echo $this->data->agreement['agreement_type']; ?></td>
            </tr>
            <tr>
                <th>Wysokość prowizji brutto</th>
                <td><?php echo $this->data->agreement['commission_precentage']; ?> %</td>
            </tr>
            <tr>
                <th>Prowizja brutto</th>
                <td><?php echo $this->data->agreement['commission_value']; ?> PLN</td>
            </tr>
            <tr>
                <th>Data zawarcia</th>
                <td><?php echo $this->data->agreement['agreement_date']; ?></td>
            </tr>
            <tr>
                <th>Data zakończenia</th>
                <td><?php echo $this->data->agreement['agreement_end']; ?></td>
            </tr>
            <tr>
                <th>Informacje dodatkowe</th>
                <td><?php echo $this->data->agreement['information']; ?></td>
            </tr>
            <tr>
                <th>Preferowane godziny</th>
                <td><?php echo $this->data->agreement['time']; ?></td>
            </tr>
            <tr>
                <th>Prezenter</th>
                <td><?php echo $this->data->agreement['person'] . ' ( TEL. ' . $this->data->agreement['phone'] . ',  Email: ' . $this->data->agreement['email']; ?>
                    )
                </td>
            </tr>
            <tr>
                <th>Pliki</th>
                <td>
                    <?php if (isset($this->data->agreement['files']) && !empty($this->data->agreement['files'])): ?>
                        <?php $aFiles = explode(',', $this->data->agreement['files']); ?>

                        <?php
                        foreach ($aFiles as $sFile):
                            ?>

                            <p><a href="<?php
                                echo $this->url(array('module' => 'admin',
                                    'controller' => 'agreement',
                                    'action' => 'file',
                                    'id' => $this->data->agreement['id_offer'],
                                    'file' => urlencode($sFile)));
                                ?>"><?php echo $sFile; ?></a></p>

                        <?php endforeach; ?>
                    <?php endif; ?>
                </td>
        </table>
        <div style="float: right">
        <?php echo $this->data->form; ?>
        </div>

    <?php else: ?>
        <p>Ta oferta nie ma informacji o zawartej umowie</p>

    <?php endif; ?>
</div>