<?php if ($this->pageCount > 0): ?>

    <?php $oReq = new Zend_Controller_Request_Http(); ?>
    <?php $aQuery = $oReq->getQuery(); ?>
    <?php
    $sQuery = '';
    if (!empty($aQuery)) {
        
        $aQueryStr = array();
        
        foreach ($aQuery as $sKey => $sValue) {
            

            if (!empty($sValue)) {
                
                
                if(is_array($sValue))
                {
                    foreach($sValue as $sVal)
                    {
                         $aQueryStr[] = $sKey . '[]=' . $sVal; 
                    }
                }
                else  $aQueryStr[] = $sKey . '=' . $sValue;
            }

            $sQuery = empty($aQueryStr) ? '' : '?' . implode('&', $aQueryStr);
        }
    }
    ?>
    <ul class="pager">

    <?php if ($this->firstPageInRange > $this->first): ?>

            <li<?php if ($this->first == $this->current): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array($this->pageName => $this->first), $this->route) . $sQuery; ?>"><?php echo $this->first ?></a></li>

        <?php if ((intval($this->firstPageInRange) - intval($this->first)) > 1) : ?>
                <li class="sep"><span>...</span></li>
            <?php endif; ?>
    <?php endif; ?>


        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>

            <li<?php if ($page == $this->current): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array($this->pageName => $page), $this->route) . $sQuery; ?>"><?php echo $page; ?></a></li>
    <?php endforeach; ?>

        <!-- Next page link -->

    <?php if ($this->lastPageInRange < $this->last): ?>

            <?php if ((intval($this->last) - intval($this->lastPageInRange)) > 1) : ?>
                <li class="sep"><span>...</span></li>
        <?php endif; ?>
            <li<?php if ($this->last == $this->current): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array($this->pageName => $this->last), $this->route) . $sQuery; ?>"><?php echo $this->last ?></a></li>
        <?php endif; ?>

    </ul>
    <?php endif; ?>


