<div class="span8 offset1">
    <ul class="breadcrumb">
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'news', 'action' => 'list')); ?>">News</a> <span class="divider">/</span></li>
        <li class="active">Edytuj newsa</li>
    </ul>
</div>


<div class="span8 offset1 form-wrapper">



    <div class="form">
        <h2>Edytuj newsa</h2>
        <form method="POST" class="form-vertical">
            <?php echo $this->form; ?>
            
    </div>
</div>

<script>

$(document).ready(function(){
        $('#display').datetimepicker({dateFormat: 'yy-mm-dd'});
}); 

</script>