<div class="span10 offset1">

    <ul class="breadcrumb">
        <li class="active">Newsy</li>
    </ul>


    <p style="text-align: right">
        <a href="<?php echo $this->url(array('controller' => 'news', 'action' => 'add'), 'home', false); ?>" class="btn btn-large btn-primary">Dodaj newsa</a>
    </p>
    <?php if (count($this->paginator) > 0): ?>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Czas wyświetlenia</th>
                </tr>

            </thead>

            <tbody>


                <?php foreach ($this->paginator as $iKey => $aNews): ?>
                    <tr>
                        <td><?php echo++$iKey; ?></td>
                        <td>
                            <?php echo $aNews['title']; ?>
                        </td>
                        <td>
                                 <?php echo $aNews['display']; ?>
                        </td>
                        
                        <td style="text-align: right">
                            
                            <a class="btn" href="<?php
                    echo $this->url(array('module' => 'admin',
                        'controller' => 'news',
                        'action' => 'edit',
                        'id' => $aNews['id']), null, true);
                            ?>"><i class="icon-edit"></i> Edytuj</a>
                            <a class="btn confirmation btn-danger" href="#" link="<?php
                       echo $this->url(array('module' => 'admin',
                           'controller' => 'news',
                           'action' => 'remove',
                           'id' => $aNews['id']), null, true);
                            ?>">
                                <i class="icon-trash"></i> Usuń</a>
                          
                            
                        </td>

                    </tr>

                <?php endforeach; ?>
            </tbody>
        </table>
        <?php echo $this->paginationControl($this->paginator, 'Sliding', '_partial/paginator.phtml'); ?>

    <?php endif; ?>
</div>

