<p class="add">
<a href="<?php echo $this->url(array('module' => 'admin' , 
                                     'controller' => 'wanted' , 
                                     'action' => 'add', 
                                     'client' => $this->data->client), null, true); ?>">Dodaj nowe poszukiwanie</a>
</p>
<?php echo $this->data->list; ?>