<a href="<?php echo $this->url(array('action' => 'add')); ?>">Dodaj nowe poszukiwanie</a>
<a href="<?php echo $this->url(array()); ?>">Przeładuj</a>

<div id="list_wanted">
    <?php echo $this->data->wanted; ?>
</div>
<div style="clear: both"></div>
<div id="list_offers">
    <?php echo $this->data->offers; ?>
</div>
