<div class="breadcrumb">

    <a href="/">Strona główna</a>
    <a href="#">Lokal</a>
    <a href="#">Wynajem</a>
    <a href="#"><?php echo $this->data['title']; ?></a>

</div>

<span class="product_title"><?php echo $this->data['title']; ?></span>
<?php echo $this->partial('_partial/offer/tabs.phtml', array('data' => $this->data)); ?>
<div class="product_desc">
    <?php echo $this->partial('_partial/offer/price.phtml', array('data' => $this->data, 'type' => 'rent')); ?>

    <?php if (!empty($this->data['id']) && !in_array('id', $this->blocked)): ?>
        <span class="list_text">Nr. oferty: <b><?php echo $this->data['id']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['building_type']) && !in_array('building_type', $this->blocked)): ?>
        <span class="list_text">Typ budynku:<b><?php echo Model_Logic_Enum::getInstance()->getLocalTypeById($this->data['building_type']); ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['floors_in_building']) && !in_array('floors_in_building', $this->blocked)): ?>
        <span class="list_text">Liczba pięter w budynku: <b><?php echo $this->data['floors_in_building']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['city']) && !in_array('city', $this->blocked)): ?>
        <span class="list_text">Miasto: <b><?php echo $this->data['city']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['entry']) && !in_array('entry', $this->blocked)): ?>
        <span class="list_text">Wejście: <b><?php echo Model_Logic_Enum::getInstance()->getEntryById($this->data['entry']); ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['year']) && !in_array('year', $this->blocked)): ?>
        <span class="list_text">Rok budowy: <b><?php echo $this->data['year']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['section']) && !in_array('section', $this->blocked)): ?>
        <span class="list_text">Dzielnica: <b><?php echo $this->data['section']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['height']) && !in_array('height', $this->blocked)): ?>
        <span class="list_text">Wysokość lokalu: <b><?php echo $this->data['height']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['quality']) && !in_array('quality', $this->blocked)): ?>
        <span class="list_text">Stan mieszkania: <b><?php echo Model_Logic_Enum::getInstance()->getQualityById($this->data['quality']); ?></b></span>
    <?php endif; ?>


    <?php if (!empty($this->data['street']) && !in_array('street', $this->blocked)): ?>
        <span class="list_text">Ulica: <b><?php echo $this->data['street']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['rooms']) && !in_array('rooms', $this->blocked)): ?>
        <span class="list_text">Liczba pomieszczeń: <b><?php echo $this->data['rooms']; ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['rent']) && !in_array('rent', $this->blocked)): ?>
        <span class="list_text">Wysokość czynszu: <b><?php echo $this->data['rent']; ?></b></span>
    <?php else: ?>
        <span class="list_text">&nbsp;</span>
    <?php endif; ?>

    <?php if (!empty($this->data['purpose']) && !in_array('purpose', $this->blocked)): ?>
        <span class="list_text">Przeznaczenie: <b><?php echo Model_Logic_Enum::getInstance()->getLocalPurposeById($this->data['purpose']); ?></b></span>
    <?php endif; ?>

    <?php if (!empty($this->data['levels']) && !in_array('levels', $this->blocked)): ?>
        <span class="list_text">Liczba poziomów: <b><?php echo $this->data['levels']; ?></b></span>
    <?php else: ?>
        <span class="list_text">&nbsp;</span>
    <?php endif; ?> 

    <?php if (!empty($this->data['available']) && !in_array('available', $this->blocked)): ?>
        <span class="list_text">Wolny od: <b><?php echo $this->data['available']; ?></b></span>
    <?php else: ?>
        <span class="list_text">&nbsp;</span>
    <?php endif; ?>

    <?php if (!empty($this->data['surface']) && !in_array('surface', $this->blocked)): ?>
          <span class="list_text">Powierzchnia: <b><?php echo $this->data['surface']; ?> m<sup>2</sup></b></span>
    <?php endif; ?>

    <?php if (($this->data['floor'] != '') && !in_array('floor', $this->blocked)): ?>
        <span class="list_text">Piętro: <b><?php echo $this->data['floor']; ?></b></span>
    <?php endif; ?>


    <?php echo $this->partial('_partial/offer/middle.phtml', array('data' => $this->data)); ?>

    <h4 class="page_title">Dodatkowe informacje</h4>

    <div class="article_content">

        <?php if (!empty($this->data['windows']) && !in_array('windows', $this->blocked)): ?> 
            <b>Okna:</b> <?php echo Model_Logic_Enum::getInstance()->getWindowById($this->data['windows']); ?>, 
        <?php endif; ?>
        <?php if (!empty($this->data['heat']) && !in_array('heat', $this->blocked)): ?> 
            <b>Ogrzewanie:</b> <?php echo Model_Logic_Enum::getInstance()->getFlatHeatById($this->data['heat']); ?>, 
        <?php endif; ?>
        <?php if (!empty($this->data['additional']) && !in_array('additional', $this->blocked)): ?> 
            <?php $aAdditionals = Model_Logic_Enum::getInstance()->getLocalAdditionalByGroupOfId(explode(',', $this->data['additional'])); ?>
            <b>Dodatkowe:</b> <?php echo implode(', ', $aAdditionals); ?> 
        <?php endif; ?>
    </div>