<?php echo $this->partial('_partial/offer/print_top.phtml', array('offer' => $this->offer, 'location' => sprintf('%s, %s', $this->offer['city'], $this->offer['section']))); ?>

<div class="box_info">

    <?php if (isset($this->offer['surface']) && !empty($this->offer['surface'])): ?>
        Powierzchnia: <b><?php echo $this->offer['surface']; ?> m<sup>2</sup></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['purpose']) && !empty($this->offer['purpose'])): ?>
        Przenaczenie: <b><?php echo Model_Logic_Enum::getInstance()->getLocalPurposeById($this->offer['purpose']); ?></b><br />
    <?php endif; ?>
    <?php if (isset($this->offer['building_type']) && !empty($this->offer['building_type'])): ?>
        Umiejscowienie: <b><?php echo Model_Logic_Enum::getInstance()->getLocalTypeById($this->offer['building_type']); ?></b><br />
    <?php endif; ?>

    <?php if (isset($this->offer['entry']) && !empty($this->offer['entry'])): ?>
        Wejście: <b><?php echo Model_Logic_Enum::getInstance()->getEntryById($this->offer['entry']); ?></b><br />
    <?php endif; ?>
    <?php if (isset($this->offer['rooms']) && !empty($this->offer['rooms'])): ?>
        Pomieszczenia: <b><?php echo $this->offer['rooms']; ?></b><br/>
    <?php endif; ?>

    <?php if ($this->offer['floor'] == 0) : ?>
        <?php $this->offer['floor'] = 'parter'; ?>
    <?php endif; ?>

    <?php if (isset($this->offer['floor']) && !empty($this->offer['floor'])): ?>
        Piętro: <b><?php echo $this->offer['floor']; ?></b> 
        <?php if (isset($this->offer['floors_in_building']) && !empty($this->offer['floors_in_building'])): ?>
            z <b><?php echo $this->offer['floors_in_building']; ?></b><br/>
        <?php endif; ?>
    <?php endif; ?>
    <?php if (isset($this->offer['quality']) && !empty($this->offer['quality'])): ?>
        Stan: <b><?php echo Model_Logic_Enum::getInstance()->getQualityById($this->offer['quality']); ?></b><br/>
    <?php endif; ?>
                     <?php if (isset($this->offer['price_surface']) && !empty($this->offer['price_surface'])): ?>
            Cena za 1m2: <b><?php echo str_replace('.' , ',' , $this->offer['price_surface']); ?>zł</b><br/>
        <?php endif; ?>
</div>
<?php echo $this->partial('_partial/offer/print_bottom.phtml', array('offer' => $this->offer)); ?>