body{font:.8em/1.5 arial, sans-serif;}
#content h1{font-size:180%;background:url(../../images/design/content-h1.gif) 0 0 repeat-x;letter-spacing:-1px;margin:0;padding:10px 15px;}
#content h2{font-size:160%;}
#content h3{font-size:140%;}
#content h5,h6{font-size:100%;}
#content ul{list-style:none;margin:15px 0;}
#content ul ul{margin:0 0 0 10px;}
#content ul ul li{padding-left:15px;background:url(../../images/design/ul-ul.gif) 0 4px no-repeat;}
#content ol{list-style-type:decimal;margin:15px 0 15px 30px;}
#content ol ol{margin:0 0 0 20px;}
#content ol ol li{list-style-type:lower-alpha;}
#content dl{clear:both;}
#content dl dd{margin:0 0 5px;}
#content fieldset{position:relative;margin:10px 0;padding:10px;}
#content legend{font-size:120%;font-weight:700;}
#content code{font-family:monospace;}
#content .help{cursor:help;}
table.nostyle,table.nostyle th,table.nostyle td{border:0!important;}
table.nostyle th{background:none!important;text-align:left!important;}
table.nostyle th,table.nostyle td{padding:3px 5px!important;}
ul.nostyle{list-style-type:square!important;margin:15px 0 15px 20px !important;}
ul.nostyle ul{list-style-type:square!important;margin:0 0 0 25px !important;}
ul.nostyle li{background:none!important;padding:0!important;}
dl.nostyle dt{font-weight:700!important;}
#main{min-width:980px;width:expression(document.body.clientWidth<980?"980px":"auto");}
#tray{background:url(../../images/design/tray.gif) 0 0 repeat-x;font:85%/1.2 tahoma,sans-serif;padding:12px 15px;}
#tray p.f-left{width:50%;}
#tray #logout{padding-left:18px;background:url(../../images/design/tray-logout.gif) 0 50% no-repeat;text-transform:uppercase;}
#tray #switcher{margin-right:15px;}
#tray #switcher img{display:block;float:left;width:16px;height:16px;border:0;}
#menu{background:url(../../images/design/menu.gif) 0 0 repeat-x;padding:15px 15px 13px;}
#menu ul li a{float:left;margin-right:5px;padding-left:5px;background:url(../../images/design/menu-left.gif) 0 0 no-repeat;text-decoration:none;cursor:pointer;}
#menu ul li a span{float:left;display:block;background:url(../../images/design/menu-right.gif) 100% 0 no-repeat;padding:7px 15px 9px 8px;}
#menu ul li a:hover,#menu ul li#menu-active a{background:url(../../images/design/menu-left.gif) 0 -35px no-repeat;}
#menu ul li a:hover span,#menu ul li#menu-active a span{background:url(../../images/design/menu-right.gif) 100% -35px no-repeat;}
#content{overflow:hidden;padding:20px;}
#footer{clear:both;background:url(../../images/design/separator.gif) 0 0 repeat-x;font:85%/1.2 tahoma,sans-serif;padding:15px;}
#aside .padding{padding-left:15px;}
#aside #logo img{display:block;width:200px;}
#aside #search fieldset{padding:7px 10px;}
#aside #search fieldset .input-text{width:130px;}
#aside #search fieldset #search-options{margin-top:10px;}
#aside #btn-create a{float:left;padding-left:27px;height:37px;overflow:hidden;background:url(../../images/design/btn-create-left.gif) 0 0 no-repeat;text-decoration:none;font-weight:700;cursor:pointer;}
#aside #btn-create a span{float:left;display:block;width:163px;background:url(../../images/design/btn-create-right.gif) -2px 0 no-repeat;padding:8px 0 10px 10px;}
#aside #btn-create a:hover{background-position:0 -37px;}
#aside ul{width:215px;list-style:none;margin:0 0 15px;}
#aside ul li a{display:block;width:185px;text-decoration:none;padding:4px 15px;}
#aside ul li#submenu-active a{width:198px;border:0;background:url(../../images/design/submenu-active.gif) 100% 50% no-repeat;font-weight:700;z-index:999;}
#aside ul ul{position:static;margin:0;}
#aside ul ul li a,#aside ul li#submenu-active ul li a{width:170px;background:url(../../images/design/submenu-sub.gif) 15px 7px no-repeat;font:85%/1.2 tahoma,sans-serif;font-weight:400;padding:5px 15px 5px 30px;}
#content .col50{float:left;width:49%;}
#content .col33{float:left;width:32%;}
#content .col33.center{padding:0 2%;}
#content .tabs a{float:left;margin-right:3px;padding-left:4px;background:url(../../images/design/tabs-l.gif) 0 -100px no-repeat;text-decoration:none;}
#content .tabs a span{float:left;display:block;background:url(../../images/design/tabs-r.gif) 100% -100px no-repeat;padding:8px 15px 6px 11px;}
#content .tabs .ui-tabs-selected a{background:url(../../images/design/tabs-l.gif) 0 0 no-repeat;font-weight:700;}
#content .tabs .ui-tabs-selected a span{background:url(../../images/design/tabs-r.gif) 100% 0 no-repeat;}
#content .ui-tabs-hide{display:none!important;}
.input-text{font:100%/1.5 arial, sans-serif;padding:3px;}
.input-text-02{font:140%/1.5 arial, sans-serif;padding:5px;}
.input-submit{font-size:120%;padding:5px;}
.input-submit-02{font-size:100%;padding:1px;}
.msg{padding:10px 10px 10px 35px;}
.msg.warning{background:url(../../images/design/ico-warning.gif) 10px 50% no-repeat;}
.msg.info{background:url(../../images/design/ico-info.gif) 10px 50% no-repeat;}
.msg.done{background:url(../../images/design/ico-done.gif) 10px 50% no-repeat;}
.msg.error{background:url(../../images/design/ico-delete.gif) 10px 50% no-repeat;}
.smaller{font:85%/1.2 tahoma,sans-serif;}
.tit{background:#f5f5f5;padding:10px;}
.tag{border:1px solid #000;background-color:#eee;margin-right:5px;padding:5px;}
.require{border:1px solid #000;background-color:#eee;color:red;margin-right:5px;font-weight:700;padding:5px;}
#submit,#filter,button{width:170px;height:40px;color:#eee;margin-top:10px;background-color:#18a5cc;border:none;-webkit-transition:0 .3s linear;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#submit:hover,#filter:hover,button:hover{-webkit-box-shadow:0 0 20px #555;-moz-box-shadow:0 0 20px #aaa;box-shadow:0 0 20px #555;cursor:pointer;}
input,textare,select{background:#fff;font-size:12px;color:#555;border:1px #ddd solid;-webkit-box-shadow:0 0 4px #aaa;-moz-box-shadow:0 0 4px #aaa;box-shadow:0 0 4px #aaa;-webkit-transition:background .3s linear; margin:5px 5px 5px 5px;}
input:hover,textarea:hover{background:#eee;}
form{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 50px #ccc;-moz-box-shadow:0 0 50px #ccc;box-shadow:0 0 50px #ccc;}
td.button_row{width:100px;}
ul#breadcrubms li{display:inline;margin-left:10px;}
ul#breadcrubms li a{text-decoration:none;font-weight:bolder;}
.pagination{background:#999;text-align:left;background-color:GrayText;float:none;padding:10px;}
a.button{background-color:transparent;background-image:url(../images/btn_right.png);background-repeat:no-repeat;background-position:top right;color:#fff;display:0;font:normal 13px arial, sans-serif;height:32px;margin-right:0;padding-right:10px;text-decoration:none;}
a.button span{background-color:transparent;background-image:url(../images/btn.png);background-repeat:no-repeat;display:inline-block;line-height:21px;padding:3px 0 8px 10px;}
a.button span img{margin-left:-5px;margin-top:-2px;padding-right:5px;}
a.button:hover{background-image:url(../images/btn_hover_right.png);color:#fff;outline:none;}
a.orange{background-image:url(/../images/btn_right.png);display:0;}
a.orange span{background-image:url(/../images/btn.png);}
.required{background-image:url(../../images/required.png);background-position:top right;background-repeat:no-repeat;padding-right:10px;}
input.slim{width:200px!important;}
input.veryslim{width:100px!important;}
.fd-zone{position:relative;overflow:hidden;width:15em;text-align:center;}
.fd-file{opacity:0;font-size:118px;position:absolute;right:0;top:0;z-index:1;cursor:pointer;filter:alpha(opacity=0);font-family:sans-serif;margin:0;padding:0;}
.fd-zone.over{border-style:dashed;}
.over{background-color:red;}
#galleryDropZone{background-color:#BBDF8D;float:left;-webkit-border-radius:12px;border-radius:12px;width:300px;height:150px;border:2px solid #739E39;background-image:url(/images/add-icon.png);background-position:95% 5%;background-repeat:no-repeat; margin-bottom: 20px}
.wait{background-image:url(/images/add-icon.png);}
.during{background-image:url(/images/wait-icon.gif);}
#trash{background-color:#FFAEAE;-webkit-border-radius:12px;border-radius:12px;float:right;border:2px solid red;width:300px;height:150px;background-image:url(/images/trash-icon.png);background-position:95% 5%;background-repeat:no-repeat;}
#promo-trash {background-color:#FFAEAE;-webkit-border-radius:12px;border-radius:12px;border:2px solid red;width:100px;height:100px;background-image:url(/images/trash-icon.png);background-repeat:no-repeat; top: 10px; left: 250px; position: absolute}
#trash li img{width:64px;height:48px;border:1px solid #000;-webkit-box-shadow:5px 5px 5px 5px #bbb;box-shadow:3px 3px 3px 3px #555;}
div.checkboxes{width:300px;float:left;display:inline}
span.check{padding-left:10px;}
h1,h2,h3,h4,h5,h6,address,blockquote,dl,fieldset,ol,p,table,ul,#content .tabs{margin:15px 0;}
#content h4,.bigger{font-size:120%;}
#content dl dt,#menu ul li#menu-active a,#aside #search fieldset legend,.select2-results li.select2-result-with-children > .select2-result-label{font-weight:700;}
dl.nostyle dd,table tr td p{margin:0!important;}
#tray p,#footer p,#aside #search fieldset p,.select2-results ul.select2-result-sub{margin:0;}
#menu ul,#content .tabs ul{list-style-type:none;margin:0;padding:0;}
#menu ul li,#content .tabs ul li{display:inline;margin:0;padding:0;}
#aside #logo,#aside #btn-create{margin:0 0 15px;}
#aside ul li,ul#breadcrubms{display:inline;}
#content .tabs a:hover,.tabs a:hover span,ul#breadcrubms li a:hover,.select2-result-selectable .select2-match,.select2-result-unselectable .select2-result-selectable .select2-match{text-decoration:underline;}
#content .tabs .ui-tabs-selected a:hover,#content .tabs .ui-tabs-selected a:hover span,.select2-result-unselectable .select2-match{text-decoration:none;}
a.button:hover span,.pagination a.active span,a.orange:hover span{background-image:url(/../images/btn_hover.png);}
a.orange:hover,.pagination a.active{background-image:url(/../images/btn_hover_right.png);}
#galleryDropZone p {text-align: center; text-decoration: inherit; color: darkseagreen}
ul#gallery {background-color:#feffde;-webkit-border-radius:12px;border-radius:12px;float:left;list-style-type:none;min-height:200px;border:2px solid #555;width:1000px;background-image:url(/images/images-icon.png);background-position:95% 5%;background-repeat:no-repeat;margin:0 0 20px;padding:0;}
ul#hidden {background-color:#DFDFDF;-webkit-border-radius:12px;border-radius:12px;float:left;list-style-type:none;min-height:200px;border:2px solid #555;width:1000px;background-image:url(/images/hide-icon.png);background-position:95% 5%;background-repeat:no-repeat;margin:0 0 20px;padding:0;}
ul#gallery li.con,#trash li.con,ul#hidden li.con{float:left;border:0 solid;margin:0;padding:5px;}
ul#gallery li.con img,ul#hidden li.con img{border:1px solid #000;-webkit-box-shadow:5px 5px 5px 5px #bbb;box-shadow:3px 3px 3px 3px #555;}


div#promotion {width: 850px; margin-right: 200px; margin-top: 120px}

ul#prom-list {}
ul#prom-list li {background-color:#B8E2FB; width: 230px; float:left; margin-right: 20px; margin-top: 10px; border:1px solid #000;-webkit-box-shadow:5px 5px 5px 5px #bbb; box-shadow:3px 3px 3px 3px #555; padding: 2px; -moz-border-radius: 15px; border-radius: 15px; height: 200px; overflow: hidden}

ul#prom-list li p {padding : 0px; margin: 0px}
.formTable {
    width: 99%
}

.subForm {
    margin-bottom: 5px;
    width: 100%;
}

.noRecords {
    padding: 10px;
    text-align: center;
    color: brown;
    font-size: 14px;
}

th a .selected {
    font-weight: bold;
}

.formTitle {
    background: #EEA966 url(../images/bg_helper_button.jpg) repeat-x;
    font-size: 11px !important;
    font-weight: bold;
}

form  .element {
    margin: 0;
}

.element ul {
    width: auto !important;
}

form label {
    font-size: 11px;
    display: block;
}

.subtitulo span {
    width: 40px;
    display: block;
    float: left;
}

.subtitulo {
    padding-left: 5px;
    text-indent: 0;
}

.gridLoading {
    background: #F2F2F2 url(../images/ajax-loader.gif) no-repeat center
        center;
    border: 1px solid #FFA500;
}

.paginationExport {
    float: left;
    width: 120px;
}

.paginationNumbers {
    float: left;
    text-align: center;
    width: 740px;
}

.massActions {
    background-color: beige;
    text-align: right;
}

.massActions .massSelect {
    display: block;
    float: left;
    padding-top: 2px;
}

.massActions * {
    color: #333;
    text-decoration: none;
}

.massActions input {
    margin-left: 10px;
}

.buttons {
    text-align: center;
    background-color: #DEDEDE;
}

input[type='checkbox'],input[type='radio'] {
    width: 14px !important;
    height: 14px !important;
    border: 0px;
    padding: 0px;
    margin: 2px;
}

td div input[type='text'],td div input[type='password'],.subtitulo input[type='text'],.subtitulo input[type='password'],.subtitulo  select
{
    width: 90% !important;
    border: 1px solid #aaa;
    min-width: 20px;
    padding:4px;
    margin: 2px;
}

#grid .querySupport button {
    border: 1px solid #ddd;
    padding: 1px;
    color: #55391c;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: #FFF url(../images/bg_helper_button.jpg);
    padding:4px;
    cursor: pointer;
}

.querySupport {
    padding:2px;
    background: #FFF url(../images/bg_helper.jpg);
}

.querySupport div {
    text-align: right;
}

#newGrid {
    border: 2px solid #333;
}

#newGrid .td {
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    background: #fff;
    padding: 4px 4px 4px 8px;
    color: #333;
}

.addRecord {
    text-align: center;
    background-color: #DEDEDE;
    float: left;
}

.addRecord a {
    text-decoration: none;
    font-size: 10px !important;
}
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: left;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:4px;
    border-left: 0;
}
table td {
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.errors { border-left: 0px solid}
.attachment {margin-left: 10px}
span.comment {margin-left: 10px; text-decoration: inherit; color: #EEA966}
.submitbox {text-align: center !important}
th {width: 150px !important;}
.powner {border: 1px solid #DFDFDF; padding: 10px; -moz-border-radius: 15px; border-radius: 15px; min-width: 100px; max-width: 300px}
.owner-text {margin-left: 20px}
#filter_id ,#filter_surface , #filter_price, #filter_price_surface {width: 40px}
.hrow {text-align: center !important ; font-size: 25px;}
tr.visible td.value {color:  black}
tr.hidden td.value  {color: #DEDEDE}
td.visibility {text-align: center}

a {
    color: #333;
}

#grid input {width: 40px}

tr.alt td{background-color: white}


div#limiter {width: 1200px}
div#list_wanted { float: left; width: 289x}
div#list_offers input {width: 50px}
div#list_wanted input {width: 50px}


div#fields {border : 1px solid black}

div#fields p {float: left; width: 320px;border: 1px solid #DFDFDF; padding: 10px; -moz-border-radius: 15px; border-radius: 15px; padding: 10px; margin: 10px}
div#fields img {width: 24px; height: 24px; float: right}
div#fields p span.label {width: 120px; font-weight: bold;}
div#fields p span.value {width: 120px;}
div#fields p span.visibility {text-align: right}
div.filter {width: 200px; float: left; margin: 5px; padding: 5px; background-color: #DEDEDE; border: 1px solid #999999; padding: 10px; -moz-border-radius: 15px; border-radius: 15px;}
div.filter2 {width: 400px; float: left; margin: 5px; padding: 5px; background-color: #DEDEDE; border: 1px solid #999999; padding: 10px; -moz-border-radius: 15px; border-radius: 15px;}
div.filter p {padding: 0px; margin: 0px}
div.filter2 div.checkboxes {width: 100px}
div.submit {width: 1000px; clear: both; text-align: center}
#hide-filters {display: none}
#formbox {width: 200px; text-align: center; margin: 0px auto}
div#gallery {margin : 0px auto; text-align: center}
ul#categories li {display:inline;margin-left:10px; margin: 5px; padding: 5px; background-color: #DEDEDE; border: 1px solid #999999; padding: 10px; -moz-border-radius: 15px; border-radius: 15px;}
ul#add-export {height: 50px}
ul#add-export li {display:inline;margin-left:10px; margin: 5px; height: 50px; background-color: #eeeeee; border: 1px solid #999999; padding: 15px; -moz-border-radius: 15px; border-radius: 15px;}
ul#add-export li img {width: 18px; height: 18px; margin-right: 10px}
ul#add-export li a {text-decoration: none; color: black}

td.element input {width: 300px}
div#nav ul li {width: 100px; text-align: center; float: left ;margin-left:10px; margin: 5px; height: 20px; background-color: #eeeeee; border: 1px solid #999999; padding: 15px; -moz-border-radius: 15px; border-radius: 15px;}
div#nav ul li a {text-decoration: none; font-weight: bold}
div#nav ul li a:hover {color: #F00; font-weight: bolder}
div#nav {margin-bottom: 40px}
div#description {margin: 5px; background-color: #eeeeee; border: 1px solid #999999; padding: 15px; -moz-border-radius: 15px; border-radius: 15px;}
div#offergal {text-align: center; margin: 5px; background-color: #eeeeee; border: 1px solid #999999; padding: 15px; -moz-border-radius: 15px; border-radius: 15px;}
div#tablegrid { width: 100%; overflow: auto; height: auto;}
div#daily { width: 100%; overflow: auto; height: auto;}
div#offers { width: 100%; overflow: auto; height: auto;}
div#full { width: 100%; overflow: auto; height: auto;}
div#promotion { width: 100%; overflow: auto; height: auto;}

.clickable {cursor: pointer; cursor: hand;}
.clickable:hover {font-weight: bolder}
ul.errors li {color: red; font-weight:  bolder; width: 150px}
#detailbox {cursor: pointer; width: 650px; border: 1px solid #DEDEDE; height: 80px; -moz-border-radius: 15px; border-radius: 15px;-webkit-box-shadow:0 0 20px #555;-moz-box-shadow:0 0 20px #aaa;box-shadow:0 0 20px #555; margin: 10px}
#detailbox .right p {padding: 0px; margin: 0px !important}
#detailbox img {margin: 5px; moz-border-radius: 15px; border-radius: 15px;}
li.promoted {text-align: center}