<div class="breadcrumb">

    <a href="/">Strona główna</a>
    <a href="#">Działka</a>
    <a href="#">Sprzedaż</a>
    <a href="#"><?php echo $this->data['title']; ?></a>

</div>

<span class="product_title"><?php echo $this->data['title']; ?></span>
<?php echo $this->partial('_partial/offer/tabs.phtml' , array('data' => $this->data)); ?>
<div class="product_desc">
  <?php echo $this->partial('_partial/offer/price.phtml' , array('data' => $this->data, 'type' => 'sell')); ?>
    
        <?php if(!empty($this->data['id']) &&  !in_array('id' , $this->blocked) ):?>
    <span class="list_text">Nr. oferty: <b><?php echo $this->data['id']; ?></b></span>
    <?php endif; ?>
    
       <?php if(!empty($this->data['section']) &&  !in_array('section' , $this->blocked) ):?>
    <span class="list_text">Dzielnica: <b><?php echo $this->data['section']; ?></b></span>
    <?php endif; ?>
    
    
      <?php if(!empty($this->data['access'])&& !in_array('access' , $this->blocked)): ?> 
    <span class="list_text">Dojazd: <b><?php echo Model_Logic_Enum::getInstance()->getAccessById($this->data['access']); ?></b></span> 
    <?php endif; ?>
  
    
    <?php if(!empty($this->data['province']) &&  !in_array('province' , $this->blocked) ):?>
    <span class="list_text">Województwo: <b><?php echo Model_Logic_Enum::getInstance()->getProvinceById($this->data['province']); ?></b></span>
    <?php endif; ?>
    
      <?php if(!empty($this->data['surface']) &&  !in_array('surface' , $this->blocked) ):?>
    <span class="list_text">Powierzchnia działki: <b><?php echo $this->data['surface']; ?>m2</b></span>
    <?php endif; ?>
    
          <?php if(!empty($this->data['fence'])&& !in_array('fence' , $this->blocked)): ?> 
    <span class="list_text">Ogrodzenie: <b><?php echo Model_Logic_Enum::getInstance()->getFenceById($this->data['fence']); ?></b></span> 
    <?php endif; ?>
    
    <?php if(!empty($this->data['district']) &&  !in_array('district' , $this->blocked) ):?>
    <span class="list_text">Powiat: <b><?php echo $this->data['district']; ?></b></span>
    <?php endif; ?>
    
    
    
     <?php if(!empty($this->data['land_type']) &&  !in_array('land_type' , $this->blocked) ):?>
    <span class="list_text">Typ działki: <b><?php echo Model_Logic_Enum::getInstance()->getLandTypeById($this->data['land_type']); ?></b></span>
    <?php endif; ?>
    
    
     <?php if(!empty($this->data['width']) &&  !in_array('width' , $this->blocked) ):?>
    <span class="list_text">Szerokość: <b><?php echo $this->data['width']; ?>m</b></span>
    <?php endif; ?>
    
    <?php if(!empty($this->data['city']) &&  !in_array('city' , $this->blocked) ):?>
    <span class="list_text">Miasto: <b><?php echo $this->data['city']; ?></b></span>
    <?php endif; ?>
    
  
    
    <?php if(!empty($this->data['shape']) &&  !in_array('shape' , $this->blocked) ):?>
    <span class="list_text">Kształt: <b><?php echo Model_Logic_Enum::getInstance()->getShapeById($this->data['shape']); ?></b></span>
    <?php endif; ?>
    
    
      <?php if(!empty($this->data['height']) &&  !in_array('height' , $this->blocked) ):?>
    <span class="list_text">Długość: <b><?php echo $this->data['height']; ?>m</b></span>
    <?php endif; ?>
    
    
    
<?php echo $this->partial('_partial/offer/middle.phtml' , array('data' => $this->data)); ?>

<h4 class="page_title">Dodatkowe informacje</h4>

<div class="article_content">
    
    <?php if(!empty($this->data['services'])&& !in_array('services' , $this->blocked)): ?> 
    <?php $aMedia =  Model_Logic_Enum::getInstance()->getSerwicesByGroupOfId(explode(',' , $this->data['services'])); ?>
     <b>Media:</b><?php echo implode(', ', $aMedia); ?>
    <?php endif; ?>

    <?php if(!empty($this->data['additional'])&& !in_array('additional' , $this->blocked)): ?> 
    <?php $aAdditionals =  Model_Logic_Enum::getInstance()->getLandAdditionalByGroupOfId(explode(',' , $this->data['additional'])); ?>
    <b>Dodatkowe:</b> <?php echo implode(', ', $aAdditionals); ?> 
    <?php endif; ?>
</div>

<?php echo $this->partial('_partial/offer/seller.phtml' , array('data' => $this->data)); ?>

