<?php echo $this->partial('_partial/offer/print_l_top.phtml', array('offer' => $this->offer, 'location' => sprintf('Powiat: %s, Gmina: %s, Miasto: %s', $this->offer['district'], $this->offer['community'], $this->offer['city']))); ?>
<div class="box_info">
    <?php if (isset($this->offer['surface']) && !empty($this->offer['surface'])): ?>
        Powierzchnia: <b><?php echo $this->offer['surface']; ?> m<sup>2</sup></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['land_type']) && !empty($this->offer['land_type'])): ?>
        Typ działki: <b><?php echo Model_Logic_Enum::getInstance()->getLandTypeById($this->offer['land_type']); ?></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['shape']) && !empty($this->offer['shape'])): ?>
        Kształt: <b><?php echo Model_Logic_Enum::getInstance()->getShapeById($this->offer['shape']); ?></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['access']) && !empty($this->offer['access'])): ?>
        Dojazd: <b><?php echo Model_Logic_Enum::getInstance()->getAccessById($this->offer['access']); ?></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['fence']) && !empty($this->offer['fence'])): ?>
        Ogrodzenie: <b><?php echo Model_Logic_Enum::getInstance()->getFenceById($this->offer['fence']); ?></b><br/>
    <?php endif; ?>
                     <?php if (isset($this->offer['price_surface']) && !empty($this->offer['price_surface'])): ?>
            Cena za 1m2: <b><?php echo str_replace('.' , ',' , $this->offer['price_surface']); ?>zł</b><br/>
        <?php endif; ?>

</div>
<?php echo $this->partial('_partial/offer/print_l_bottom.phtml', array('offer' => $this->offer)); ?>