
                <div class="breadcrumb">

                    <a href="/">Strona główna</a>
                    <a href="#">Aktualności</a>
                    <a href="#"><?php echo $this->data['title']; ?></a>
                </div>

                <div class="main_title">

                    <h3><?php echo $this->data['title']; ?></h3>

                </div>

                <div>
                    
                    <?php echo $this->data['content']; ?>

                </div>

                