                <div class="breadcrumb">

                    <a href="/">Strona główna</a>
                    <a href="#">Aktualności</a>

                </div>
      
                <div class="main_title">

                    <h3><b>Aktualności</b></h3>

                </div>
<?php if(count($this->data) > 0): ?>

<?php foreach($this->data as $aNews): ?>
                <article class="post">

                    <h3 class="title"><?php echo $aNews['title']; ?></h3>
                    <div class="content"><?php echo $aNews['head']; ?></div>
                    <a href="<?php echo $this->url(array('id' => $aNews['id']), 'news_show'); ?>" class="read_more"><span>Więcej</span></a>

                </article>
<?php endforeach; ?>
<?php endif; ?>

  <?php echo $this->paginationControl($this->data, 'Sliding', '_partial/main_paginator.phtml', array('route' => 'news', 'pageName' => 'page')); ?>