<section id="info_boxes">

    <div class="info_box">

        <a href="#" class="title">0% prowizji</a>

        <div class="content">

            Czy to możliwe? Chcesz kupić nieruchomość znajdująca się w naszej ofercie i nie zapłacić za to żadnej prowizji? Nie przegap okazji! Dowiedz się jak tego dokonać u naszych Doradców.
            <a href="#" class="more">więcej</a>

        </div>

    </div>

    <div class="info_box">

        <a href="#" class="title">Szukasz kredytu?</a>

        <div class="content">

            Nie masz czasu na chodzenie po bankach? Chciałbyś sprawdzić bezpłatnie swoją zdolność kredytową oraz porównać ofertę ponad 25 banków w jednym miejscu? Z nami jest to możliwe.
            <a href="#" class="more">więcej</a>

        </div>

    </div>

    <div class="info_box">

        <a href="#" class="title">Jak sprzedajemy?</a>

        <div class="content">

            Często przed podjęciem z nami współpracy Klienci pytają nas co możemy dla nich zrobić by sprzedać ich nieruchomość. Postanowiliśmy na to pytanie odpowiedzieć na naszej stronie.
            <a href="#" class="more">więcej</a>

        </div>

    </div>

</section>

<div class="main_title">

    <h3><b>Polecane</b> oferty</h3>

    <?php echo $this->paginationControl($this->promoted, 'Sliding', '_partial/main_paginator.phtml', array('route' => 'main', 'pageName' => 'promo')); ?>


</div>

<div class="list_boxes">


    <?php foreach ($this->promoted as $aPromotion): ?>

        <div class="list_box">

            <a href="<?php echo $this->url(array('id' => $aPromotion['id'], 'seo' => $aPromotion['title']) , 'detail'); ?>">
            <?php echo $this->image($aPromotion['id'], $aPromotion['photo'], 194, 129); ?>
            <span class="titlehead"><?php echo $aPromotion['title']; ?></span></a>
            <span><b>Typ:</b> <?php echo Model_Logic_Offer::getInstance()->getOfferTypeName($aPromotion['id_type']); ?></span>
            <span><b>Powierzchnia:</b> <?php echo $aPromotion['surface']; ?> m2</span>
            <span><b><?php echo $aPromotion['city']; ?></b>, <?php echo $aPromotion['section']; ?></span>

            <a href="<?php echo $this->url(array('id' => $aPromotion['id'], 'seo' => $aPromotion['title']) , 'detail'); ?>" class="bottom_link"><?php echo number_format($aPromotion['price'], 0, ',' , ' '); ?> zł</a>
            <a href="<?php echo $this->url(array('id' => $aPromotion['id'], 'seo' => $aPromotion['title']) , 'detail'); ?>" class="bottom_link">Szczegóły</a>

        </div>


    <?php endforeach; ?>

</div>
<div class="main_title">

    <h3><b>Ostatnio</b> dodane</h3>


    <?php echo $this->paginationControl($this->last, 'Sliding', '_partial/main_paginator.phtml', array('route' => 'main', 'pageName' => 'last')); ?>


</div>
<div class="list_boxes">

    <?php foreach ($this->last as $aLast): ?>

        <div class="list_box">
            <a href="<?php echo $this->url(array('id' => $aLast['id'], 'seo' => $aLast['title']) , 'detail'); ?>">
            <?php echo $this->image($aLast['id'], $aLast['photo'], 194, 129); ?>
            <span class="titlehead"><?php echo $aLast['title']; ?></span></a>
            <span><b>Typ:</b> <?php echo Model_Logic_Offer::getInstance()->getOfferTypeName($aLast['id_type']); ?></span>
            <span><b>Powierzchnia:</b> <?php echo $aLast['surface']; ?> m2</span>
            <span><b><?php echo $aLast['city']; ?></b>, <?php echo $aLast['section']; ?></span>

            <a href="<?php echo $this->url(array('id' => $aLast['id'], 'seo' => $aLast['title']) , 'detail'); ?>" class="bottom_link"><?php echo number_format($aLast['price'], 0 , ',' , ' '); ?> zł</a>
            <a href="<?php echo $this->url(array('id' => $aLast['id'], 'seo' => $aLast['title']) , 'detail'); ?>" class="bottom_link">Szczegóły</a>

        </div>


    <?php endforeach; ?>

</div>