<div class="breadcrumb">

    <a href="/">Strona główna</a>
    <a href="#">Przemysłowe</a>
    <a href="#">Sprzedaż</a>
    <a href="#"><?php echo $this->data['title']; ?></a>

</div>

<span class="product_title"><?php echo $this->data['title']; ?></span>
<?php echo $this->partial('_partial/offer/tabs.phtml' , array('data' => $this->data)); ?>
<div class="product_desc">
  <?php echo $this->partial('_partial/offer/price.phtml' , array('data' => $this->data, 'type' => 'sell')); ?>
    
    <?php if(!empty($this->data['id']) &&  !in_array('id' , $this->blocked) ):?>
    <span class="list_text">Nr. oferty: <b><?php echo $this->data['id']; ?></b></span>
    <?php endif; ?>
  
   <?php if(!empty($this->data['purpose']) &&  !in_array('purpose' , $this->blocked) ):?>
    <span class="list_text">Przeznaczenie: <b><?php echo Model_Logic_Enum::getInstance()->getWarehousePurposeById($this->data['purpose']); ?></b></span>
    <?php endif; ?>
    
    <?php if(!empty($this->data['levels']) &&  !in_array('levels' , $this->blocked) ):?>
    <span class="list_text">Liczba poziomów: <b><?php echo $this->data['levels']; ?></b></span>
    <?php endif; ?>
    
    
    <?php if(!empty($this->data['city']) &&  !in_array('city' , $this->blocked) ):?>
    <span class="list_text">Miasto: <b><?php echo $this->data['city']; ?></b></span>
    <?php endif; ?>
    
       
    <?php if(!empty($this->data['surface']) &&  !in_array('surface' , $this->blocked) ):?>
    <span class="list_text">Powierzchnia: <b><?php echo $this->data['surface']; ?>m2</b></span>
    <?php endif; ?>
    
         
    <?php if(!empty($this->data['quality']) &&  !in_array('quality' , $this->blocked) ):?>
    <span class="list_text">Stan: <b><?php echo Model_Logic_Enum::getInstance()->getQualityById($this->data['quality']); ?></b></span>
    <?php endif; ?>
    
    <?php if(!empty($this->data['section']) &&  !in_array('section' , $this->blocked) ):?>
    <span class="list_text">Dzielnica: <b><?php echo $this->data['section']; ?></b></span>
    <?php endif; ?>
    
     
    <?php if(!empty($this->data['rooms']) &&  !in_array('rooms' , $this->blocked) ):?>
    <span class="list_text">Liczba pomieszczeń: <b><?php echo $this->data['rooms']; ?></b></span>
    <?php endif; ?>
    
       <?php if(!empty($this->data['heat']) &&  !in_array('heat' , $this->blocked) ):?>
    <span class="list_text">Ogrzewanie: <b><?php echo Model_Logic_Enum::getInstance()->getWarehouseHeatById($this->data['heat']); ?></b></span>
     <?php endif; ?>
    
    <?php if(!empty($this->data['street']) &&  !in_array('street' , $this->blocked) ):?>
    <span class="list_text">Ulica: <b><?php echo $this->data['street']; ?></b></span>
    <?php endif; ?>
    
   
        <?php if(!empty($this->data['height']) &&  !in_array('height' , $this->blocked) ):?>
    <span class="list_text">Wysokość: <b><?php echo $this->data['height']; ?></b></span>
    <?php endif; ?>
    
<?php echo $this->partial('_partial/offer/middle.phtml' , array('data' => $this->data)); ?>

<h4 class="page_title">Dodatkowe informacje</h4>

<div class="article_content">
    
       <?php if(!empty($this->data['floor']) &&  !in_array('floor' , $this->blocked) ):?>
    <b>Piętro:</b><?php echo $this->data['floor']; ?>,
    <?php endif; ?>
    
    <?php if(!empty($this->data['year']) &&  !in_array('year' , $this->blocked) ):?>
    <b>Rok budowy:</b><?php echo $this->data['year']; ?>,
    <?php endif; ?>
   
    <?php if(!empty($this->data['additional'])&& !in_array('additional' , $this->blocked)): ?> 
    <?php $aAdditionals =  Model_Logic_Enum::getInstance()->getWarehouseAdditionalByGroupOfId(explode(',' , $this->data['additional'])); ?>
     <?php echo implode(', ', $aAdditionals); ?> 
    <?php endif; ?>
</div>