<?php echo $this->partial('_partial/offer/print_l_top.phtml', array('offer' => $this->offer, 'location' => sprintf('%s, %s', $this->offer['city'], $this->offer['section']))); ?>
<div class="box_info">
    <?php if (isset($this->offer['surface']) && !empty($this->offer['surface'])): ?>
        Powierzchnia: <b><?php echo $this->offer['surface']; ?> m<sup>2</sup></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['purpose']) && !empty($this->offer['purpose'])): ?>
        Przenaczenie: <b><?php echo Model_Logic_Enum::getInstance()->getWarehousePurposeById($this->offer['purpose']); ?></b><br />
    <?php endif; ?>
    <?php if (isset($this->offer['rooms']) && !empty($this->offer['rooms'])): ?>
        Pomieszczenia: <b><?php echo $this->offer['rooms']; ?></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['height']) && !empty($this->offer['height'])): ?>
        Wysokość: <b><?php echo $this->offer['height']; ?></b><br/>
    <?php endif; ?>
    <?php if (isset($this->offer['quality']) && !empty($this->offer['quality'])): ?>
        Stan: <b><?php echo Model_Logic_Enum::getInstance()->getQualityById($this->offer['quality']); ?></b><br />
    <?php endif; ?>
    <?php if (isset($this->offer['price_surface']) && !empty($this->offer['price_surface'])): ?>
        Cena za 1m2: <b><?php echo str_replace('.', ',', $this->offer['price_surface']); ?>zł</b><br/>
    <?php endif; ?>
</div>
<?php echo $this->partial('_partial/offer/print_l_bottom.phtml', array('offer' => $this->offer)); ?>