<?php echo $this->partial('_partial/offer_menu.phtml', array('offer' => $this->data->offer)); ?>
<?php echo $this->partial('_partial/offer/'.$this->data->template, array('offer' => $this->data->offer, 'masked' => $this->data->mask)); ?>


<div style="clear: both"></div>
<div id="formbox"><?php echo $this->data->form; ?></div>

<h2>Kategorie :</h2>
<ul id="categories">
    <?php if(!empty($this->data->categories)): ?>
    
    <?php foreach($this->data->categories as $aCategory): ?>
    
    <li class="category_item"><?php echo $aCategory['name']; ?>
        <?php if(!empty($aCategory['data'])): ?>
            <span class="category_data"><?php echo ' '.$aCategory['data'];  ?></span>
        <?php endif; ?>
    
    </li>
        
        <?php endforeach; ?>
    
    
    <?php endif; ?>
   </ul> 


<div id="description">
    <h3>Opis :</h3>
    <?php echo $this->data->offer['description']; ?>
</div>

<div id="offergal">

<?php if(isset($this->data->offer['covers']) && !empty($this->data->offer['covers'])): ?>
<?php $aCovers = explode(',', $this->data->offer['covers']); ?>
<ul id="gallery">
    <?php foreach($aCovers as $sCover): ?>
    <li><img src="<?php echo $this->url(array('id' => $this->data->offer['id_offer'] , 'name' => $sCover) , 'image'); ?>" /></li>
    <?php endforeach; ?>
</ul>

<?php endif; ?>
</div>