
<link rel="stylesheet" href="/scripts/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/scripts/fancybox/jquery.fancybox.js"></script>

<?php echo $this->partial('_partial/offer_menu.phtml', array('offer' => $this->data->offer)); ?>
<button style="margin: 20px" href="/admin/offer/galleryshow/id/<?php echo $this->data->offer['id']; ?>" show-gallery="1" >Podgląd</button>

<div class="wait" id="galleryDropZone"><p>Przeciągnij zdjęcia na mnie aby je dodać do oferty lub kliknij jeżeli chcesz
        je wybrać z listy</p>

    <p id="progress"></p></div>

<ul id="trash"></ul>
<ul id="gallery"></ul>
<ul id="hidden"></ul>


<div style="clear: both; width: 170px; margin-top: 40px; margin: 0px auto;">

    <?php echo $this->data->form; ?>
</div>


<script>
    $(document).ready(function () {

        $('[show-gallery]').on('click', function (e) {

            e.preventDefault();
            var elem = $(this);

            $.ajax({
                method: "POST",
                type: "json",
                url: elem.attr('href')
            })
                .done(function (response) {
                    $.fancybox.open(response, {
                        padding: 0
                    });
                });

            return false;

        });
    });

</script>