<?php echo $this->data->filter; ?>
<a href="#" id="show-filters">Pokaż dodatkowe filtry</a>
<a href="#" id="hide-filters">Ukryj dodatkowe filtry</a>
<?php echo $this->data->list; ?>


<div id="gallery_placeholder" style="display: none"></div>

<link rel="stylesheet" href="/scripts/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/scripts/fancybox/jquery.fancybox.js"></script>

<script>

    $(document).ready(function(){

        $('[show-gallery]').on('click', function(){

            var elem = $(this);

            $.ajax({
                method: "POST",
                type: "json",
                url: elem.attr('href')
            })
                .done(function( response ) {
                        $.fancybox.open(response, {
                            padding : 0
                        });
                });

            return false;

        });
    });


</script>