    <div class="clear"></div>

    <button class="send_question" type="submit">

        <span>Wyślij zapytanie</span>

    </button>

    <button class="print" onClick="javascript: window.location='<?php echo $this->url(array('id' => $this->data['id'], 'seo' => $this->data['title']), 'print'); ?>'">

        <a href="#"><span>Drukuj</span></a>

    </button>
</div>

<div class="page_title">

    <h3>Opis oferty</h3>

</div>

<div class="article_content">

    <?php echo $this->data['description']; ?>
    <p>Numer licencji pośrednika odpowiedzialnego zawodowo za wykonanie umowy pośrednictwa: <strong>15295</strong></p>
</div>
