    <div class="price">
        <span class="all">
<?php if(isset($this->data['new_price']) && !empty($this->data['new_price'])): ?>
            <span class="new_price"><?php echo number_format($this->data['new_price'], 0,',' , ' '); ?> zł</span>
            <?php endif; ?>
           
<?php echo number_format($this->data['price'], 0,',' , ' '); ?> zł</span>
        <a href="#" class="change-price">Powiadom o zmianie ceny</a>
        <span class="per-meter"><b><?php echo number_format($this->data['price_surface'], 2,',' , ' '); ?> zł</b> / m<sup>2</sup></span>
        <?php if($this->type == 'sell'): ?>
        <a href="#per-month" class="per-month">RATA JUŻ OD <b><?php echo number_format(Model_Logic_Offer::getInstance()->countRate($this->data['price']), 0, ',' , ' '); ?> zł</b>  / ms</a>
        <?php endif; ?>
    </div>
     