                <div class="box_content">
                     <h2>OPIS OFERTY</h2>
                   <?php echo strip_tags($this->offer['description_pdf'] , '<b><strong>'); ?>
                </div>
            </div>
        </div>
        <div class="pdf_footer">
            <div style="width: 90%; margin: 0 auto;">
                <p><span>Zainteresowany?</span> <b>Kontakt z agentem</b> <?php echo $this->offer['name'] . ' '.$this->offer['surname']; ?> <label>tel. <?php echo $this->offer['phone'] ?></label> <a href="http://domset.pl" class="link">www.domset.pl</a></p>
            </div>

        </div>

        
    </body>
</html>
