            <div class="box_cena">
                    <?php if(isset($this->offer['new_price'])): ?>
                    <s><?php echo number_format($this->offer['new_price'], 0, ',' , ' '); ?> zł</s>
                        <?php endif; ?>
                    <?php echo number_format($this->offer['price'], 0, ',' , ' '); ?> zł
                </div>
                <div class="box_kontakt">
                    <h2>Zainteresowany?</h2>
                    <b>Kontakt z Agentem:<br/>
                        <?php echo $this->offer['name'] . ' '.$this->offer['surname']; ?></b><br/>
                    tel. <?php echo $this->offer['phone'] ?><br/>
                    <?php echo $this->offer['email'] ?><br />
                    <br />
                    <a href="http://domset.pl" style="font: bold 32px Arial;color: #FFF;" class="link">www.domset.pl</a>
                </div>

            </div>
            <div class="pdf_prawa">
                <h2>OPIS OFERTY</h2>
                <?php echo strip_tags($this->offer['description_pdf'] , '<b><strong>'); ?>
            </div>
        </div>
        <div class="clear"></div>
        <div class="pdf_footer">
            <div class="wrapper" style="text-align:center">
                <b>DOMSET</b>  Ełk, ul. Wojska Polskiego 43 lok.3 (naprzeciwko Rolnika)  tel. 87 610 88 88
            </div>
        </div> 
    </body>
</html>
