<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>DomSet - <?php echo $this->offer['title']; ?></title>
        <link rel="stylesheet" type="text/css" href="/page/pdf_poziom.css"/>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    </head>
    <body>

        <div class="pdf_numer">

            <div class="wrapper">
                <p>Nr oferty:  <b><?php echo $this->offer['id']; ?></b> </span> <a href="http://www.domset.pl/<?php echo $this->offer['id']; ?>" class="link" style="color: #FFF;">www.domset.pl/<?php echo $this->offer['id']; ?></a></p>

            </div>

        </div>

        <div class="pdf_tytul">

            <div class="wrapper">

                <img src="/page/images/logo_pdf_poziom.png" alt="Logo" class="logo"/>

                &nbsp;  &nbsp; <span><b style="color: #222; font-size: 35px;"><?php echo $this->offer['title']; ?></b><br/>
                    &nbsp;  &nbsp; <i><?php echo $this->location; ?></i></span>

            </div>

        </div>

        <div class="wrapper">

            <div class="pdf_zdjecia">


                <?php if (!empty($this->offer['covers'])): ?>
                    <?php $aCovers = explode(',', $this->offer['covers']); ?>
                    <?php echo $this->image($this->offer['id'], $aCovers[0], 693, 514); ?>
                   <?php echo $this->image($this->offer['id'], $aCovers[1], 338, 251, 'zdjecie-drugie'); ?>
                &nbsp;<?php echo $this->image($this->offer['id'], $aCovers[2], 338, 251, 'zdjecie-drugie'); ?>
                <?php endif; ?>

            </div>

            <div class="pdf_prawa">

                <div class="box_cena">

                    <?php if (isset($this->offer['new_price'])): ?>
                        <s><?php echo number_format($this->offer['new_price'], 0, ',', ' '); ?></s>
                    <?php endif; ?>
                    <?php echo number_format($this->offer['price'], 0, ',', ' '); ?> zł

                </div>