<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>DomSet - <?php echo $this->offer['title']; ?></title>
        <link rel="stylesheet" type="text/css" href="/page/pdf.css"/>
    </head>
  <body style="width: 100%; height: 100%;">
          <div class="pdf_numer">

            <div class="wrapper">
                  <p>Nr oferty:  <b><?php echo $this->offer['id']; ?></b></p>
            </div>

        </div>

        <div class="pdf_tytul">

            <div class="wrapper">
                <img src="/page/images/logo_pdf.png" alt="Logo" class="logo"/>
                <span><a href="http://www.domset.pl/<?php echo $this->offer['id']; ?>" style="font-size: 28px; color: #424242;">&nbsp;<b>Zobacz oferte w internecie</b> www.domset.pl/<?php echo $this->offer['id']; ?></a></span>
                 <div class="clear"></div>
                <h1><b><?php echo $this->offer['title']; ?></b><br/>
                    <?php echo $this->location; ?></h1>
            </div>
        </div>
        <div class="pdf_zdjecia">
            <div class="wrapper">
                <?php if (!empty($this->offer['covers'])): ?>
                            <?php $aCovers = explode(',', $this->offer['covers']); ?>
                                    <?php echo $this->image($this->offer['id'], $aCovers[0], 760, 564, 'zdjecie-pierwsze'); ?>
                                    &nbsp;<?php echo $this->image($this->offer['id'], $aCovers[1], 371, 276, 'zdjecie-drugie'); ?>
                                    &nbsp;&nbsp;<?php echo $this->image($this->offer['id'], $aCovers[2], 371, 276, 'zdjecie-drugie'); ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="wrapper">
            <div class="pdf_lewa">