
<h4 class="page_title">Kontakt z agentem</h4>

<div class="team_box no_bg">

    <div class="image">

        <img src="/images/<?php echo strtolower($this->data['login']); ?>.png" alt="Zespół"/>

    </div>

    <div class="desc">
        <h5><?php echo $this->data['name'].' '.$this->data['surname']; ?></h5>
        <span>Specjalista ds. sprzedaży mieszkań</span><br />
        <br />
        telefon: <b><?php echo $this->data['phone']; ?></b><br />
        e-mail: <a href="mailto:<?php echo $this->data['email']; ?>"><?php echo $this->data['email']; ?></a>
    </div>

</div>
