<div id="tabs">

    <ul class="product_links">
        <li><a href="#tabs-1" class="photos"><span>Zdjęcia</span></a></li>
        <li><a href="#tabs-2" class="map"><span>Mapa</span></a></li>
    <?php //    <li><a href="#tabs-3" class="plane"><span>Plan</span></a></li> ?>
    </ul>
    <span class="product_number">Nr. oferty: <?php echo $this->data['id']; ?></span>
    <div class="clear"></div>

    <div id="tabs-1" class="">

        <div id="galeria" class="lof-slidecontent" style="width: 740px; height: 526px;">
            <div class="preload"><div></div></div>
            <div class="main-slider-content" style="width: 724px; height: 400px;">
                <ul class="sliders-wrap-inner">
                    <?php if (!empty($this->data['covers'])): ?>
                        <?php $aCovers = explode(',', $this->data['covers']); ?>

                        <?php foreach ($aCovers as $sCover): ?>
                            <li><a href="/images/offer/<?php echo $this->data['id']; ?>/<?php echo $sCover; ?>.jpg" class="test" rel="example_group"><img src="/images/offer/<?php echo $this->data['id']; ?>/<?php echo $sCover; ?>.jpg" title="Test"/></a></li>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </ul>  	
            </div>
            <div class="navigator-content">
                <div class="button-next">Next</div>
                <div class="navigator-wrapper">
                    <ul class="navigator-wrap-inner">
                        <?php if (!empty($this->data['covers'])): ?>
                            <?php $aCovers = explode(',', $this->data['covers']); ?>

                            <?php foreach ($aCovers as $sCover): ?>
                                <li><img src="/images/offer/<?php echo $this->data['id']; ?>/<?php echo $sCover; ?>.jpg" title="Test"/></li>
                            <?php endforeach; ?>
                        <?php endif; ?>  		
                    </ul>
                </div>
                <div class="button-previous">Previous</div>
            </div>      
        </div> 

    </div>

    <div id="tabs-2">

        <div id="map" style="width:724px;height:465px"></div>

    </div>
<?php /**
    <div id="tabs-3">
        <p>Brak planu</p>
    </div>
*/ ?>

</div>