<ul>
    <li><a href="<?php echo $this->url(array('action' => 'detail'));?>">Detale</a></li>
    <li><a href="<?php echo $this->url(array('action' => 'edit'));?>">Edytuj</a></li>
</ul>

<?php if (isset($this->agreement)): ?>
    <h2>Właściciel</h2>
    <?php echo $this->agreement; ?>
<?php endif; ?>


<?php if (isset($this->wanted)): ?>
    <h2>Poszukiwane</h2>
    <?php echo $this->wanted; ?>
<?php endif; ?>


<?php if (isset($this->jobs)): ?>
    <h2>Kontakt telefoniczny</h2>
    <?php echo $this->jobs; ?>
<?php endif; ?>



<?php if (isset($this->visits)): ?>
    <h2>Prezentacje</h2>
    <?php echo $this->visits; ?>
<?php endif; ?>
