<ul>
    <li><a href="<?php echo $this->url(array('action' => 'detail'));?>">Detale</a></li>
    <li><a href="<?php echo $this->url(array('action' => 'edit'));?>">Edytuj</a></li>
</ul>

<?php echo $this->data->form; ?>