<?php echo $this->partial('_partial/offer_menu.phtml', array('offer' => $this->data->offer)); ?>
<ul id="add-export">
    <?php foreach($this->data->adapters as $aAdapter): ?>
    
   <?php  $sAddUrl =  $this->url(array('module' => 'admin', 
                                           'controller' => 'export', 
                                           'action' => 'add', 
                                           'id' => $this->data->id_offer, 
                                           'adapter' => $aAdapter['id']), null,true); ?>
    
    
    <li><a href="<?php echo $sAddUrl?>"><img src="/images/add-icon.png" /><?php echo $aAdapter['label']?></a></li>
    
    <?php endforeach; ?>
</ul>

<?php echo $this->data->list; ?>