    <div class="breadcrumb">

                    <a href="#">Strona główna</a>
                    <a href="#">Kontakt</a>

                </div>

                <div class="main_title">

                    <h3>O nas</h3>

                </div>
                
                <div class="article_content">

                    <h4>Jedno zdanie przykuwające uwagę, hasło reklamowe!</h4>
                    <br />
                    Jako biuro nieruchomości wyznaczamy nowe standardy pracy, dotyczy to zarówno naszych Klientów jak i współpracowników. Tworząc nową Markę korzystamy z innowacyjnych rozwiązań pamiętając o fundamentach, które budujemy na doświadczeniu ludzi sukcesu tej branży.
                    <br /><br />
                    Głównym celem naszej działalności jest profesjonalna obsługa Klientów w zakresie obrotu nieruchomościami. Dbając o kompleksowość naszych usług zapewniamy również dostęp do szerokiej gamy oferty kredytowej oraz atrakcyjnego pakietu ubezpieczeń.
                    <br /><br />
                    Nasza firma ambitnie patrzy w przyszłość, widząc olbrzymią perspektywę rozwoju. Kluczem do jego realizacji jest zaufanie Klientów oraz ich dobre słowo. Profesjonalizm nie polega na tym, że się pisze, iż jest się profesjonalistą, składa się to na szeregu działań, zachowań, które sprawiają, że Klienci mogą mówić: „ DOMSET JEST PROFESJONALISTĄ W SWOIM FACHU”. Aby móc się o tym przekonać dołącz do grona naszych Klientów i sprawdź, co powoduje, iż możemy się tak nazywać.

                </div>

                <h4 class="page_title">Nasz zespół</h4>

                <div class="team_box">

                    <div class="image">

                        <img src="images/examples/team_01.png" alt="Zespół"/>

                    </div>

                    <div class="desc">

                        <h5>Małgorzata Kowalska</h5>
                        <span>Specjalista ds. sprzedaży mieszkań</span><br />
                        <br />
                        telefon: <b>500 432 569</b><br />
                        e-mail: <a href="#">m.kowalska@domset.pl</a>
                        <span class="desc_text">Jako biuro nieruchomości wyznaczamy nowe standardy pracy, dotyczy to zarówno naszych Klientów jak i współpracowników. Tworząc nową Markę korzystamy z innowacyjnych rozwiązań pamiętając o fundamentach, które budujemy na doświadczeniu ludzi sukcesu tej branży.</span>

                    </div>

                </div>
                
                <div class="team_box">

                    <div class="image">

                        <img src="images/examples/team_01.png" alt="Zespół"/>

                    </div>

                    <div class="desc">

                        <h5>Małgorzata Kowalska</h5>
                        <span>Specjalista ds. sprzedaży mieszkań</span><br />
                        <br />
                        telefon: <b>500 432 569</b><br />
                        e-mail: <a href="#">m.kowalska@domset.pl</a>
                        <span class="desc_text">Jako biuro nieruchomości wyznaczamy nowe standardy pracy, dotyczy to zarówno naszych Klientów jak i współpracowników. Tworząc nową Markę korzystamy z innowacyjnych rozwiązań pamiętając o fundamentach, które budujemy na doświadczeniu ludzi sukcesu tej branży.</span>

                    </div>

                </div>
                
                <div class="team_box">

                    <div class="image">

                        <img src="images/examples/team_01.png" alt="Zespół"/>

                    </div>

                    <div class="desc">

                        <h5>Małgorzata Kowalska</h5>
                        <span>Specjalista ds. sprzedaży mieszkań</span><br />
                        <br />
                        telefon: <b>500 432 569</b><br />
                        e-mail: <a href="#">m.kowalska@domset.pl</a>
                        <span class="desc_text">Jako biuro nieruchomości wyznaczamy nowe standardy pracy, dotyczy to zarówno naszych Klientów jak i współpracowników. Tworząc nową Markę korzystamy z innowacyjnych rozwiązań pamiętając o fundamentach, które budujemy na doświadczeniu ludzi sukcesu tej branży.</span>

                    </div>

                </div>

                <h4 class="page_title">Nasza siedziba</h4>

                <div class="nasza_siedziba_box">

                    <a href="#"><img src="images/examples/dom_01.png" alt="Siedziba"/></a>
                    <a href="#"><img src="images/examples/dom_01.png" alt="Siedziba"/></a>
                    <a href="#"><img src="images/examples/dom_01.png" alt="Siedziba"/></a>
                    <a href="#"><img src="images/examples/dom_01.png" alt="Siedziba"/></a>
                    <a href="#"><img src="images/examples/dom_01.png" alt="Siedziba"/></a>

                </div>