
<div class="breadcrumb" id="home">

    <a href="/">Strona główna</a>
    <a href="#">Kontakt</a>

</div>

<div id="maphref" class="main_title">

    <h3>Kontakt</h3>

</div>

<div class="maps_box" id="map">

    mapa

</div>

<div class="contact_opis">

    <b>DOMSET Nieruchomości</b><br />
    19-300 Ełk <br />
    ul. Wojska Polskiego 43 lok.3<br />
    (naprzeciwko Rolnika)<br />
    <br />
    <b>Telefon:</b> 87 610 88 88<br />
    <b>E-mail: </b> <a href="mailto:biuro@domset.pl">biuro@domset.pl</a><br />
    <br />
    <b>Godziny otwarcia:</b><br />
    poniedziałek - piątek 10:00-17:00
    oraz po uprzednim uzgodnieniu o każdej innej porze!

</div>

<h4 id="team" class="page_title">Nasz zespół</h4>

<div class="team_box">

    <div class="image">

        <img src="/images/misc-user.png" alt="Zespół"/>

    </div>

    <div class="desc">

        <h5>Małgorzata Kowalska</h5>
        <span>Specjalista ds. sprzedaży mieszkań</span><br />
        <br />
        telefon: <b>500 432 569</b><br />
        e-mail: <a href="#">m.kowalska@domset.pl</a>

    </div>

</div>

<div class="team_box">

    <div class="image">

        <img src="/images/misc-user.png" alt="Zespół"/>

    </div>

    <div class="desc">

        <h5>Małgorzata Kowalska</h5>
        <span>Specjalista ds. sprzedaży mieszkań</span><br />
        <br />
        telefon: <b>500 432 569</b><br />
        e-mail: <a href="#">m.kowalska@domset.pl</a>

    </div>

</div>

<div id="team" class="team_box">

    <div class="image">

        <img src="/images/misc-user.png" alt="Zespół"/>

    </div>

    <div class="desc">

        <h5>Małgorzata Kowalska</h5>
        <span>Specjalista ds. sprzedaży mieszkań</span><br />
        <br />
        telefon: <b>500 432 569</b><br />
        e-mail: <a href="#">m.kowalska@domset.pl</a>

    </div>

</div>

<h4 class="page_title">Nasza siedziba</h4>

<div class="nasza_siedziba_box">

    <a href="/page/images/examples/dom_01.png" class="locat"><img  src="/page/images/examples/dom_01.png" alt="Siedziba"/></a>
    <a href="/page/images/examples/dom_01.png" class="locat"><img src="/page/images/examples/dom_01.png" alt="Siedziba"/></a>
    <a href="/page/images/examples/dom_01.png" class="locat"><img  src="/page/images/examples/dom_01.png" alt="Siedziba"/></a>

</div>

<h4 class="page_title">Formularz kontaktowy</h4>

Zachęcamy także do skorzystania z poniższego formularza kontaktowego

<?php if ($this->success === true): ?>
    <script>
        jQuery(document).ready(function() {
            $.fancybox(
            '<h2>Wiadomość została wysłana</h2>',
            {
                'autoDimensions'	: false,
                'width'         	: 350,
                'height'        	: 'auto',
                'transitionIn'		: 'none',
                'transitionOut'		: 'none'
            }
        );
        });
    </script>
<?php else: ?>


    <form method="POST" class="contact_form" id="form">

        <?php echo $this->form->name->renderLabel(); ?>
        <?php echo $this->form->name->renderViewHelper(); ?>
        <?php echo $this->form->phone; ?>
        <?php echo $this->form->email; ?>
        <?php echo $this->form->url; ?>
        <?php echo $this->form->body ?>
        <?php echo $this->form->challenge; ?>
        <span class="extra">pola oznaczone gwiazdką (*) są obowiązkowe</span>

        <button type="submit">

            <span>Wyślij</span>

        </button>

    </form>
<?php if(isset($this->slide) && !empty ($this->slide)): ?>
    <script>      
        $(document).ready(function(){
           $('body').scrollTo('#<?php echo $this->slide; ?>');
        }); 
    </script>
    <?php endif; ?>

<?php endif; ?>
<script>
            $(document).ready(function() {
            $(".locat").fancybox({
            'transitionIn'		: 'none',
            'transitionOut'		: 'none',
            'titlePosition' 	: 'over',
            'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                return '<span id="fancybox-title-over">Image ' +  (currentIndex + 1) + ' / ' + currentArray.length + ' ' + title + '</span>';
            }
        });
            });
        

         
</script>