<div class="breadcrumb">

    <a href="/">Strona główna</a>
    <a href="#"><?php echo str_replace('-', ' ', $this->name); ?></a>

</div>

<div id="maphref" class="main_title">

    <h3><?php echo str_replace('-', ' ', $this->name); ?></h3>

</div>

<?php echo $this->content; ?>

<h4 class="page_title">Formularz kontaktowy</h4>

Zachęcamy także do skorzystania z poniższego formularza kontaktowego

<?php if ($this->success === true): ?>
    <script>
        jQuery(document).ready(function() {
            $.fancybox(
            '<h2>Wiadomość została wysłana</h2>',
            {
                'autoDimensions'	: false,
                'width'         	: 350,
                'height'        	: 'auto',
                'transitionIn'		: 'none',
                'transitionOut'		: 'none'
            }
        );
        });
    </script>
<?php else: ?>


    <form method="POST" class="contact_form" id="form">

           <?php echo $this->form->name->renderLabel(); ?>
        <?php echo $this->form->name->renderViewHelper(); ?>
        <?php echo $this->form->phone; ?>
        <?php echo $this->form->email; ?>
        <?php echo $this->form->url; ?>
        <?php echo $this->form->body ?>
        <?php echo $this->form->challenge; ?>
        <span class="extra">pola oznaczone gwiazdką (*) są obowiązkowe</span>

        <button type="submit">

            <span>Wyślij</span>

        </button>

    </form>

    <?php endif; ?>