<?php  echo $this->partial('_partial/offer_menu.phtml', array('offer' => $this->data->offer)); ?>

    <p class="add">
<a href="<?php echo $this->url(array('module' => 'admin' , 
                                     'controller' => 'presentation' , 
                                     'action' => 'add',
                                    'offer' => $this->data->offer['id']), null, true); ?>">Dodaj nową prezentację</a>
</p>


    <?php echo $this->data->list; ?>