<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php echo $this->headTitle(); ?>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->jQuery(); ?>
        <?php echo App_Addons::getInstance()->deploy(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>

    </head>

    <body ondragstart="return false;" ondrop="return false;">

        <div id="main">
            <div id="tray" class="box">
                <p class="f-left box">
                </p>

            </div> <!--  /tray -->

            <hr class="noscreen" />

            <!-- Menu -->
            <div id="menu" class="box">




            </div> <!-- /header -->

            <hr class="noscreen" />

            <!-- Columns -->
            <div id="cols" class="box">

                <?php if (Zend_Auth::getInstance()->hasIdentity()): ?>
                    <div id="aside" class="box">

                        <ul class="box">
                            <li>Klient : <input name="main_client" id="main_client"/></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'add'), 'home', true)
                                ?>">Dodaj</a></li>
                            <li><a href="#">Oferty</a></li>
                            <li>	<ul>
                                    <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Flat_Sell::ID), 'home', true)
                                ?>/ordertablegrid/id_DESC">Mieszkania sprzedaż</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Flat_Rent::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Mieszkania wynajem</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_House_Sell::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Domy sprzedaż</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_House_Rent::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Domy wynajem</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Land_Sell::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Działki sprzedaż</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Land_Rent::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Działki wynajem</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Local_Sell::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Lokale sprzedaż</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Local_Rent::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Lokale wynajem</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Warehouse_Sell::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Przemysłowe sprzedaż</a></li>
                                    <li><a href="<?php
                                        echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'list', 'type' => Model_Logic_Offer_Warehouse_Rent::ID), 'home', true)
                                        ?>/ordertablegrid/id_DESC">Przemysłowe wynajem</a></li>


                                </ul>
                            </li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'wanted', 'action' => 'search'), 'home', true)
                                ?>">Poszukiwane</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'preview', 'action' => 'list'), 'home', true)
                                ?>">Prezentacje</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'category', 'action' => 'list'), 'home', true)
                                ?>">Kategorie</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'job', 'action' => 'list'), 'home', true)
                                ?>">Telefony</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'client', 'action' => 'list'), 'home', true)
                                ?>">Klienci</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'admin', 'action' => 'list'), 'home', true)
                                ?>">Administratorzy</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'promoted'), 'home', true)
                                ?>">Polecane</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'offer', 'action' => 'archive', 'orderoffers' => 'updated_DESC'), 'home', true)
                                ?>">Archiwum</a></li>
                            <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'news', 'action' => 'list'), 'home', true);
                               ?>">Aktualności</a></li>
                            <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'static', 'action' => 'list'), 'home', true);
                               ?>">Strony statyczne</a></li>
                            <li><a href="<?php
                                echo $this->url(array('module' => 'admin', 'controller' => 'auth', 'action' => 'logout'), 'home', true);
                                ?>"><span style="color: #F00">Wyloguj</span></a></li>
                        </ul>        
                    </div> 
                <?php endif; ?> 
                <hr class="noscreen" />
                <div id="nav" style="overflow: hidden">
                    <?php echo $this->displayMessages(); ?>
                    <?php if (isset($this->data->breadcrumbs)): ?>
                        <p class="breadcrumbs"><?php echo $this->breadcrumbs($this->data->breadcrumbs); ?></p>
                    <?php endif; ?>
                </div>
                <div id="dialog"></div>
                <div id="content" class="box">
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>
            <hr class="noscreen" />
            <div id="footer" class="box">
            </div>
        </div>
    </body>
</html>