<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php  echo $this->headTitle(); ?>
        <?php  echo $this->headMeta(); ?>
        <?php echo $this->headLink(); ?>
        <?php  echo $this->headScript(); ?>
        <link rel="Shortcut icon" href="/page/images/favicon.ico" />
        <script>
            $(document).ready(function() {
                $('.gotop').click(function(){
                    $('html, body').animate({scrollTop:0}, 'slow');
                    return false;
                });
            });
        </script>
        
        <script>
            $('.bxslider').bxSlider({
              pagerCustom: '#bx-pager'
            });
        </script>
        
		<script>
			$(document).ready(
				function (){
					var preventStageHoverEffect = function(self){
						self.wrap.unbind('mouseenter').unbind('mouseleave');
						self.imgNav.append('<a class="tray"></a>');
						self.imgNav.show();
						self.hiddenTray = true;
						self.imgNav.find('.tray').bind('click',function(){
							if(self.hiddenTray){
								self.list.parents('.jcarousel-container').animate({height:"80px"});
							}else{
								self.list.parents('.jcarousel-container').animate({height:"1px"});
							}
							self.hiddenTray = !self.hiddenTray;
						});
					}
					// $("#pikame").PikaChoose({bindsFinished: preventStageHoverEffect, carousel:true});
				});
	
	  
		   
	    </script>
      
        <script type="text/javascript">
            $(document).ready(function() {
            $('.links a').tooltip({
	            track: true,
	            delay: 0,
	            showURL: false,
	            showBody: " - ",
	            fade: 250
            });
            });
        </script>
    </head>
    <body>
        
        <header>

            <div class="wrapper">

                <a href="/" class="logo"><img src="/page/images/logo.png" alt="DomSet - nieruchomości"/></a>

                <span class="telefon">
                    <b>TEL.</b>  888 088 488
                </span>

                <nav>
                    <ul>
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="<?php echo $this->url(array(), 'aboutus'); ?>">O nas</a></li>
                        <li><a href="<?php echo $this->url(array(), 'news'); ?>">Aktualności</a></li>
                        <li><a href="<?php echo $this->url(array(), 'contact'); ?>">Kontakt</a></li>
                    </ul>
                </nav>

            </div>

        </header>

        <section id="icons">
            <aside class="ico_block mieszkania">
                <a href="/mieszkania-na-sprzedaz" class="ico"></a>
                <a href="/mieszkania-na-sprzedaz" class="title">Mieszkania</a>
                <a href="/mieszkania-na-sprzedaz" class="bottom_link">Sprzedaż</a>
                <a href="/mieszkania-do-wynajecia" class="bottom_link">Wynajem</a>
            </aside>
            <aside class="ico_block domy">
                <a href="/domy-na-sprzedaz" class="ico"></a>
                <a href="/domy-na-sprzedaz" class="title">Domy</a>
                <a href="/domy-na-sprzedaz" class="bottom_link">Sprzedaż</a>
                <a href="/domy-do-wynajecia" class="bottom_link">Wynajem</a>
            </aside>
            <aside class="ico_block dzialki">
                <a href="/dzialki-na-sprzedaz" class="ico"></a>
                <a href="/dzialki-na-sprzedaz" class="title">Działki</a>
                <a href="/dzialki-na-sprzedaz" class="bottom_link">Sprzedaż</a>
                <a href="/dzialki-do-wynajecia" class="bottom_link">Wynajem</a>
            </aside>
             <aside class="ico_block lokale">
                <a href="/lokale-na-sprzedaz" class="ico"></a>
                <a href="/lokale-na-sprzedaz" class="title">Lokale</a>
                <a href="/lokale-na-sprzedaz" class="bottom_link">Sprzedaż</a>
                <a href="/lokale-do-wynajecia" class="bottom_link">Wynajem</a>
            </aside>
             <aside class="ico_block przemyslowe">
                <a href="/obiekty-na-sprzedaz" class="ico"></a>
                <a href="/obiekty-na-sprzedaz" class="title">Przemysłowe</a>
                <a href="/obiekty-na-sprzedaz" class="bottom_link">Sprzedaż</a>
                <a href="/obiekty-do-wynajecia" class="bottom_link">Wynajem</a>
            </aside>
        </section>
        
        <section id="content">

            <div class="left_box">

                <div class="main_box static">

                    <ul>
                        <li><a href="#">Chcę kupić</a></li>
                        <li><a href="#">Chcę sprzedać</a></li>
                        <li><a href="#">Kredyty</a></li>
                        <li><a href="#">Poszukujemy</a></li>
                        <li><a href="#">Obniżki cenowe</a></li>
                    </ul>

                    <div class="icont_box phone">

                        <span class="title"></span>

                        <div class="content">

                            <b>888 088 488</b><br />
                            87 610 88 88
                        </div>

                    </div>

                    <div class="icont_box mail">

                        <span class="title"></span>

                        <div class="content">
  
                            <a class="mail" href="mailto:biuro@domset.pl">biuro@domset.pl</a><br />
                            <a href="<?php echo $this->url(array(), 'team'); ?>#team">nasz zespół</a>
                        </div>

                    </div>

                    <div class="icont_box home">

                        <span class="title"></span>

                        <div class="content">

                            19-300 Ełk<br />
                            ul. Wojska Polskiego 43 lok.3<br />
                            (naprzeciwko Rolnika)<br />
                            <a href="<?php echo $this->url(array(), 'map'); ?>#maphref">zobacz na mapie</a>
                        </div>

                    </div>

                </div>
                <div class="advert_box">
                    <h3 class="title">REKLAMA</h3>
                    <img src="http://www.jaguarwoman.com/store/images/jaguarwoman_banners1.jpg" alt="Banner"/>
                </div>
            </div>
            <div class="right_box">
                <?php echo $this->layout()->content; ?>
            </div>
        </section>
        <div class="footer_line"></div>
        <footer>
            <div class="wrapper">
                <a href="#" class="gotop"></a>
                <div class="cc">
                    <span class="copy">Copyright© 2013 <b>domset.pl</b>. Wszelkie prawa zastrzeżone.</span>
                    <span class="create">design / <a href="#" class="mbalawajder">mbalawajder</a></span>
                </div>
                <div class="find_us">
                    <span>odwiedź nas także na</span>
                    <a href="http://hol1.dev/1/1" class="ico_facebook"></a>
                    <a href="#" class="ico_twitter"></a>
                </div>
            </div>
        </footer>
    </body>
</html>