<?php echo $this->partial($this->partial, array('data' => $this->data, 'type' => $this->type, 'blocked' => $this->blocked)); ?> 


<div class="main_title" id="form">

    <h3><b>Zapytaj</b> o ofertę</h3>

</div>
<form method="POST" class="contact_form">

    <?php echo $this->form->name; ?>
    <?php echo $this->form->phone; ?>
    <?php echo $this->form->email; ?>
    <?php echo $this->form->body; ?>
    <?php echo $this->form->challenge; ?>
    <?php echo $this->form->url; ?>
    <span class="extra">pola oznaczone gwiazdką (*) są obowiązkowe</span>
    <button type="submit">
        <span>Wyślij</span>
    </button>
</form>

<script>
            
    $(document).ready(function() {
        $(function() {
            $("#tabs ").tabs({    	
                //event: 'mouseover'
                fx: { height: 'toggle', opacity: 'toggle'},
                show: function(event, ui) {
                    if (ui.panel.id == "tabs-2") {
                        $(ui.panel).css("height","100%")
                        manager.handlers.location(); 
                    }}
            });
         
         
        });
    });
</script>

<script>
    $(document).ready(function() {
        $(".test").fancybox({
            'transitionIn'		: 'none',
            'transitionOut'		: 'none',
            'titlePosition' 	: 'over',
            'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                return '<span id="fancybox-title-over">Image ' +  (currentIndex + 1) + ' / ' + currentArray.length + ' ' + title + '</span>';
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready( function(){					 
        var buttons = { previous:$('#galeria .button-next') , next:$('#galeria .button-previous') };			
        $('#galeria').lofJSidernews( { interval : 4000,
            direction		: 'opacitys',	
            easing			: 'easeInOutExpo',
            duration		: 1200,
            maxItemDisplay  : 4,
            navPosition     : 'horizontal',
            navigatorHeight : 86,
            navigatorWidth  : 160,
            mainWidth		: 724,
            buttons			: buttons } );	
    });
</script>


<script>
    
    <?php if(isset($this->formFailed)):?>
         $('#body').val(''); 
         $('html, body').scrollTo('#form'); 
        <?php endif; ?>
    
    
    $('.send_question').click(function(){
        $('#body').val('Witam, jestem zainteresowany ogloszeniem numer [<?php echo $this->data['id']; ?>]');
        $('html, body').scrollTo('#form'); 
    }); 
    
      <?php if(isset($this->ask)):?>
       $('#body').val('Proszę o wysłanie oferty kredytowej na zakup nieruchomości – nr oferty [<?php echo $this->data['id']; ?>]'); 
        $('html, body').scrollTo('#form'); 
        <?php endif; ?>
    
    
     $('.per-month').click(function(){
           
        $('#body').val('Proszę o wysłanie oferty kredytowej na zakup nieruchomości – nr oferty [<?php echo $this->data['id']; ?>]'); 
        $('html, body').scrollTo('#form'); 
        return false; 
    }); 
    
    
        $('.change-price').click(function(){
           
        $('#body').val('Proszę o powiadomienie o zmianie ceny oferty nr [<?php echo $this->data['id']; ?>]'); 
        $('html, body').scrollTo('#form'); 
        return false; 
    }); 
    
    
    </script>
    
    
<?php if ($this->success === true): ?>
    <script>
        jQuery(document).ready(function() {
            
             $('#body').val(''); 
            $.fancybox(
            '<h2>Wiadomość została wysłana</h2>',
            {
                'autoDimensions'	: false,
                'width'         	: 350,
                'height'        	: 'auto',
                'transitionIn'		: 'none',
                'transitionOut'		: 'none'
            }
        );
        });
    </script>
<?php endif;?>