<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
          <title>DomSet - <?php echo $this->offer['title']; ?></title>
        <link rel="stylesheet" type="text/css" href="/page/pdf.css" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    </head>
    <body style="width: 100%; height: 100%;">

        <div class="pdf_numer">

            <div class="wrapper">

                <p>Nr. oferty:  <b><?php echo $this->offer['id']; ?></b></p>

            </div>

        </div>

        <div class="pdf_tytul">

            <div class="wrapper">

               <img src="/images/logo_pdf.png" alt="Logo" class="logo"/>

                <span><a href="http://www.domset.pl/<?php echo $this->offer['id']; ?>" style="font-size: 28px; color: #424242;">&nbsp; <b>Zobacz oferte w internecie</b> www.domset.pl/<?php echo $this->offer['id']; ?></a></span>
                <div class="clear"></div>
                <h1><b><?php echo $this->offer['title']; ?></b><br/>
                Ełk, ul. Konieczna, Północ I</h1>
            
            </div>

        </div>

        <div class="pdf_zdjecia">

            <div class="wrapper">

                <img src="images/obrazek-01.jpg" alt="Zdjecie" class="zdjecie-pierwsze"/>
                &nbsp;<img src="images/obrazek-02.jpg" alt="Zdjecie" class="zdjecie-drugie"/>
                &nbsp;
                <img src="images/obrazek-02.jpg" alt="Zdjecie" class="zdjecie-drugie"/>

            </div>

        </div>

        <div class="wrapper">

            <div class="pdf_lewa">

                <div class="box_info">

                    Liczba pokoi: <b>2</b><br/>
                    Powierzchnia: <b>120 m2</b><br/>
                    Piętro: <b>3</b><br/>
                    Standard: <b>wysoki</b><br/>
                </div>

                <div class="box_cena">

                    <s>585 000 zł</s> 535 000 zł

                </div>

                <div class="box_kontakt">

                    <h2>Zainteresowany?</h2>

                    <b>Kontakt z Agentem:<br/>
                    Jan Kowalski</b><br/>
                    tel. 500 523 543<br/>
                    j.kowalski@domset.pl<br />
                    <br />
                    <a href="#" class="link" style="font: bold 32px Arial;color: #FFF;">www.domset.pl</a>
                </div>

            </div>

            <div class="pdf_prawa">

                <h2>OPIS OFERTY</h2>
                OKAZJA CENOWA! TERAZ TYLKO 109.000 zł. Mieszkanie o powierzchni 48,15 m2, usytuowane na I piętrze w bloku na os. Północ II. Bardzo funkcjonalny układ pomieszczeń: 3 ustawne pokoje (jeden przejściowy), jasna kuchnia, łazienka, WC i przedpokój. Okna wymienione na nowe PCV. Mieszkanko można zaaranżować według indywidualnych upodobań i uczynić w nim wygodne lokum. Z dużego pokoju wyjście na balkon. Do mieszkania przynależna piwnica o pow. 11,88 m2. Istnieje możliwość dokupienia murowanego garażu zlokalizowanego blisko budynku w cenie 20.000 zł do negocjacji!
    Atrakcyjna lokalizacja. Cicha i spokojna okolica, dużo zieleni. Oferta idealna dla ludzi ceniących ciepło rodzinne, szukających spokoju i wygody.
            
            </div>

        </div>

        <div class="clear"></div>
        
        <div class="pdf_footer">

            <div class="wrapper">
            
            <b>DOMSET</b>  Ełk, ul. Wojska Polskiego 43 lok.3 (naprzeciwko Rolnika)  tel. 87 610 88 88

            </div>
            
        </div> 

    </body>
</html>



<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>DomSet - <?php echo $this->offer['title']; ?></title>
        <link rel="stylesheet" type="text/css" href="/page/pdf.css"/>
    </head>
    <body>

        <div class="pdf_numer">

            <div class="wrapper">
                  <p>Nr. oferty:  <b><?php echo $this->offer['id']; ?></b></p>
            </div>

        </div>

        <div class="pdf_tytul">

            <div class="wrapper">
                <img src="/page/images/logo_pdf.png" alt="Logo" class="logo"/>
                <span><a href="http://www.domset.pl/<?php echo $this->offer['id']; ?>"><b>Zobacz oferte w internecie</b> www.domset.pl/<?php echo $this->offer['id']; ?></a></span>

                <h1><b><?php echo $this->offer['title']; ?></b><br/>
                    <?php echo $this->offer['city']; ?>, ul. <?php echo $this->offer['street']; ?>, <?php echo $this->offer['section']; ?></h1>

            </div>

        </div>

        <div class="pdf_zdjecia">

            <div class="wrapper">

                <?php if (!empty($this->offer['covers'])): ?>
                            <?php $aCovers = explode(',', $this->offer['covers']); ?>
                        <table>
                            <tr>
                                <td>
                                    <?php echo $this->image($this->offer['id'], $aCovers[0], 760, 564); ?>
                                </td><td>
                                    <?php echo $this->image($this->offer['id'], $aCovers[1], 371, 276); ?>
                                    <?php echo $this->image($this->offer['id'], $aCovers[2], 371, 276); ?>
                                </td>
                            </tr>
                        </table>
                   </td></tr></table>
                <?php endif; ?>
            </div>

        </div>

        <div class="wrapper">

            <div class="pdf_lewa">

                <div class="box_info">

                    Liczba pokoi: <b>2</b><br/>
                    Powierzchnia: <b>120 m2</b><br/>
                    Piętro: <b>3</b><br/>
                    Standard: <b>wysoki</b><br/>
                </div>

                <div class="box_cena">

                    <s>585 000 zł</s> 535 000 zł

                </div>

                <div class="box_kontakt">

                    <h2>Zainteresowany?</h2>

                    <b>Kontakt z Agentem:<br/>
                        Jan Kowalski</b><br/>
                    tel. 500 523 543<br/>
                    j.kowalski@domset.pl<br />
                    <br />
                    <a href="#" class="link">www.domset.pl</a>
                </div>

            </div>
            <div class="pdf_prawa" style="min-height: 1000px">
                <h2>OPIS OFERTY</h2>
                OKAZJA CENOWA! TERAZ TYLKO 109.000 zł. Mieszkanie o powierzchni 48,15 m2, usytuowane na I piętrze w bloku na os. Północ II. Bardzo funkcjonalny układ pomieszczeń: 3 ustawne pokoje (jeden przejściowy), jasna kuchnia, łazienka, WC i przedpokój. Okna wymienione na nowe PCV. Mieszkanko można zaaranżować według indywidualnych upodobań i uczynić w nim wygodne lokum. Z dużego pokoju wyjście na balkon. Do mieszkania przynależna piwnica o pow. 11,88 m2. Istnieje możliwość dokupienia murowanego garażu zlokalizowanego blisko budynku w cenie 20.000 zł do negocjacji!
                Atrakcyjna lokalizacja. Cicha i spokojna okolica, dużo zieleni. Oferta idealna dla ludzi ceniących ciepło rodzinne, szukających spokoju i wygody.
            </div>
        </div>
        <div class="clear"></div>
        <

